<head>
    <base href="">
    <meta charset="utf-8" />
    <title>Template | 2025</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    @if (ViewBag.Title == "المستخدمين")
    {
        <!--begin::Page Vendors Styles(used by this page)-->
        <link href="~/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
        <!--end::Page Vendors Styles-->
    }
    <!--begin::Page Vendors Styles(used by this page)-->
    @* <link href="~/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" /> *@
    <!--end::Page Vendors Styles-->
    <!--begin::Global Theme Styles(used by all pages)-->
    <link href="~/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles-->
    <!--begin::Layout Themes(used by all pages)-->
    <!--end::Layout Themes-->
    <link rel="shortcut icon" href="~/assets/media/logos/favicon.ico" />


</head>