<!DOCTYPE html>
<html lang="ar" dir="rtl">
<!--begin::Head-->
<partial name="_LoginHeadPartial" />
<!--end::Head-->
<!--begin::Body-->
<body lang="ar" dir="rtl" style="background-image: url(assets/media/bg/bg-10.jpg)" class="quick-panel-right demo-panel-right offcanvas-right header-fixed subheader-enabled page-loading">
    <!--begin::Main-->
    <div class="d-flex flex-column flex-root">
        <!--begin::Login-->
        <div class="login login-6 login-signin-on login-signin-on d-flex flex-column-fluid" id="kt_login">
            <div class="d-flex flex-column flex-lg-row flex-row-fluid text-center" style="background-image: url(assets/media/bg/bg-3.jpg);">
                @RenderBody()
            </div>
        </div>
        <!--end::Login-->
    </div>
    <!--end::Main-->
    <!--begin::Page Scripts-->
    <partial name="_LoginScriptPartial" />
    <!--end::Page Scripts-->
</body>
<!--end::Body-->
</html>