@{
    var menueHomeActive = ViewBag.Title == "الصفحة الرئيسية" ? "menu-item-here" : "";
}
<div class="d-flex align-items-stretch mr-3">
    <!--begin::Header Logo-->
    <div class="header-logo">
        <a href="index.html">
            <img alt="Logo" src="~/assets/media/logos/logo-letter-9.png" class="logo-default max-h-40px" />
            <img alt="Logo" src="~/assets/media/logos/logo-letter-1.png" class="logo-sticky max-h-40px" />
        </a>
    </div>
    <!--end::Header Logo-->
    <!--begin::Header Menu Wrapper-->
    <div class="header-menu-wrapper header-menu-wrapper-right" id="kt_header_menu_wrapper">
        <!--begin::Header Menu-->
        <div id="kt_header_menu" class="header-menu header-menu-right header-menu-mobile header-menu-layout-default">
            <!--begin::Header Nav-->
            <ul class="menu-nav">

                <li class="menu-item menu-item-open menu-item-submenu menu-item-rel menu-item-open @menueHomeActive" data-menu-toggle="click" aria-haspopup="true">
                    <a asp-controller="Home" asp-action="Index" class="menu-link">
                        <span class="menu-text">الصفحة الرئيسية</span>
                        <i class="menu-arrow"></i>
                    </a>
                </li>
                @if (signInManager.IsSignedIn(User) && (signInManager.Context.User.IsInRole(Roles.SuperAdmin) || signInManager.Context.User.IsInRole(Roles.Admin)))
                {
                    <partial name="_AdminMenuPartial" />                    
                }
                <partial name="_UserMenuPartial" />               
            </ul>
            <!--end::Header Nav-->
        </div>
        <!--end::Header Menu-->
    </div>
    <!--end::Header Menu Wrapper-->
</div>