@model X.PagedList.IPagedList

@{
    var currentPage = ViewData["CurrentPage"] ?? 1;
    var pageSize = ViewData["CurrentPageSize"] ?? 10;
    var currentFilter = ViewData["CurrentFilter"] as string;
}
<div class="row" dir="ltr">
    <div class="col-sm-10 col-md-8">
        <div class="dataTables_paginate paging_simple_numbers" id="kt_datatable_paginate">
            @Html.PagedListPager(
                     Model,
                     page => Url.Action(ViewData["action"] as string,
                     new { page = Model.PageNumber, searchString = currentFilter, pageSize = Model.PageSize }),
                     new X.PagedList.Mvc.Core.PagedListRenderOptions
            {
                DisplayItemSliceAndTotal = true,
                ContainerDivClasses = new[] { "navigation" },
                LiElementClasses = new[] { "page-item" },
                PageClasses = new[] { "page-link" },

                LinkToFirstPageFormat = "الأولى",
                LinkToPreviousPageFormat = "السابق",
                LinkToNextPageFormat = "التالي",
                LinkToLastPageFormat = "الأخيرة",
                ItemSliceAndTotalFormat = "عرض {0} إلى {1} من {2} سجل",
                         //PageCountAndCurrentLocationFormat = "{صفحة {0} من {1",
                         //DisplayPageCountAndCurrentLocation = true

            })
        </div>
    </div>

    <div class="col-sm-12 col-md-4" style="text-align: end;margin-right: -38px;">
        <div class="dataTables_info" id="kt_datatable_info" role="status" aria-live="polite">
            صفحة @Model.PageNumber من @Model.PageCount
        </div>
    </div>
</div>