@{
    ViewBag.Title = "Accordions";
    Layout = "_LayoutFeatures";
}

<!--begin::Container-->
<div class="container">	
	<!--begin::Row-->
	<div class="row">
		<div class="col-lg-6">
			<!--begin::Card-->
			<div class="card card-custom gutter-b example-hover">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">Basic Accordions</h3>
					</div>
				</div>
				<div class="card-body">
					<!--begin::Accordion-->
					<div class="accordion accordion-toggle-arrow" id="accordionExample1">
						<div class="card">
							<div class="card-header">
								<div class="card-title" data-toggle="collapse" data-target="#collapseOne1">Latest Orders</div>
							</div>
							<div id="collapseOne1" class="collapse show" data-parent="#accordionExample1">
								<div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<div class="card-title collapsed" data-toggle="collapse" data-target="#collapseTwo1">Product Updates</div>
							</div>
							<div id="collapseTwo1" class="collapse" data-parent="#accordionExample1">
								<div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<div class="card-title collapsed" data-toggle="collapse" data-target="#collapseThree1">Pending Items</div>
							</div>
							<div id="collapseThree1" class="collapse" data-parent="#accordionExample1">
								<div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
							</div>
						</div>
					</div>
					<!--end::Accordion-->
					<!--begin::Code example-->
					<div class="example example-compact mt-5">
						<div class="example-tools">
							<span class="example-toggle" data-toggle="tooltip" title="View code"></span>
							<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
						</div>
						<div class="example-code">
							<div class="example-highlight">
								<pre style="height:300px">
<code class="language-html">
						&lt;div class="accordion accordion-toggle-arrow" id="accordionExample1"&gt;
							&lt;div class="card"&gt;
								&lt;div class="card-header"&gt;
									&lt;div class="card-title" data-toggle="collapse" data-target="#collapseOne1"&gt;
										Latest Orders
									&lt;/div&gt;
								&lt;/div&gt;
								&lt;div id="collapseOne1" class="collapse show" data-parent="#accordionExample1"&gt;
									&lt;div class="card-body"&gt;
										...
									&lt;/div&gt;
								&lt;/div&gt;
							&lt;/div&gt;
							&lt;div class="card"&gt;
								&lt;div class="card-header"&gt;
									&lt;div class="card-title collapsed" data-toggle="collapse" data-target="#collapseTwo1"&gt;
										Product Updates
									&lt;/div&gt;
								&lt;/div&gt;
								&lt;div id="collapseTwo1" class="collapse" data-parent="#accordionExample1"&gt;
									&lt;div class="card-body"&gt;
										...
									&lt;/div&gt;
								&lt;/div&gt;
							&lt;/div&gt;
							&lt;div class="card"&gt;
								&lt;div class="card-header"&gt;
									&lt;div class="card-title collapsed" data-toggle="collapse" data-target="#collapseThree1"&gt;
										...
									&lt;/div&gt;
								&lt;/div&gt;
								&lt;div id="collapseThree1" class="collapse" data-parent="#accordionExample1"&gt;
									&lt;div class="card-body"&gt;
										...
									&lt;/div&gt;
								&lt;/div&gt;
							&lt;/div&gt;
						&lt;/div&gt;
						</code>
</pre>
							</div>
						</div>
					</div>
					<!--end::Code example-->
				</div>
			</div>
			<!--end::Card-->
			<!--begin::Card-->
			<div class="card card-custom gutter-b">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">Light Accordions</h3>
					</div>
				</div>
				<div class="card-body">
					<!--begin::Accordion-->
					<div class="accordion accordion-light accordion-toggle-arrow" id="accordionExample2">
						<div class="card">
							<div class="card-header" id="headingOne2">
								<div class="card-title" data-toggle="collapse" data-target="#collapseOne2">Recent Reports</div>
							</div>
							<div id="collapseOne2" class="collapse show" data-parent="#accordionExample2">
								<div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingTwo2">
								<div class="card-title collapsed" data-toggle="collapse" data-target="#collapseTwo2">Accounting Updates</div>
							</div>
							<div id="collapseTwo2" class="collapse" data-parent="#accordionExample2">
								<div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingThree2">
								<div class="card-title collapsed" data-toggle="collapse" data-target="#collapseThree2">Latest Payroll</div>
							</div>
							<div id="collapseThree2" class="collapse" data-parent="#accordionExample2">
								<div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
							</div>
						</div>
					</div>
					<!--end::Accordion-->
					<!--begin::Code example-->
					<div class="example example-compact mt-5">
						<div class="example-tools">
							<span class="example-toggle" data-toggle="tooltip" title="View code"></span>
							<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
						</div>
						<div class="example-code">
							<div class="example-highlight">
								<pre style="height:300px">
<code class="language-html">
						&lt;div class="accordion accordion-light accordion-toggle-arrow" id="accordionExample2"&gt;
			 &lt;div class="card"&gt;
			  &lt;div class="card-header" id="headingOne2"&gt;
			   &lt;div class="card-title" data-toggle="collapse" data-target="#collapseOne2"&gt;
				Recent Reports
			   &lt;/div&gt;
			  &lt;/div&gt;
			  &lt;div id="collapseOne2" class="collapse show" data-parent="#accordionExample2"&gt;
			   &lt;div class="card-body"&gt;
				...
			   &lt;/div&gt;
			  &lt;/div&gt;
			 &lt;/div&gt;
			 &lt;div class="card"&gt;
			  &lt;div class="card-header" id="headingTwo2"&gt;
			   &lt;div class="card-title collapsed" data-toggle="collapse" data-target="#collapseTwo2"&gt;
				Accounting Updates
			   &lt;/div&gt;
			  &lt;/div&gt;
			  &lt;div id="collapseTwo2" class="collapse"  data-parent="#accordionExample2"&gt;
			   &lt;div class="card-body"&gt;
				...
			   &lt;/div&gt;
			  &lt;/div&gt;
			 &lt;/div&gt;
			 &lt;div class="card"&gt;
			  &lt;div class="card-header" id="headingThree2"&gt;
			   &lt;div class="card-title collapsed" data-toggle="collapse" data-target="#collapseThree2"&gt;
				Latest Payroll
			   &lt;/div&gt;
			  &lt;/div&gt;
			  &lt;div id="collapseThree2" class="collapse" data-parent="#accordionExample2"&gt;
			   &lt;div class="card-body"&gt;
				...
			   &lt;/div&gt;
			  &lt;/div&gt;
			 &lt;/div&gt;
			&lt;/div&gt;
						</code>
</pre>
							</div>
						</div>
					</div>
					<!--end::Code example-->
				</div>
			</div>
			<!--end::Card-->
			<!--begin::Card-->
			<div class="card card-custom gutter-b">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">Solid Style</h3>
					</div>
				</div>
				<div class="card-body">
					<!--begin::Accordion-->
					<div class="accordion accordion-solid accordion-toggle-plus" id="accordionExample3">
						<div class="card">
							<div class="card-header" id="headingOne3">
								<div class="card-title" data-toggle="collapse" data-target="#collapseOne3">Recent Reports</div>
							</div>
							<div id="collapseOne3" class="collapse show" data-parent="#accordionExample3">
								<div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingTwo3">
								<div class="card-title collapsed" data-toggle="collapse" data-target="#collapseTwo3">Accounting Updates</div>
							</div>
							<div id="collapseTwo3" class="collapse" data-parent="#accordionExample3">
								<div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingThree3">
								<div class="card-title collapsed" data-toggle="collapse" data-target="#collapseThree3">Latest Payroll</div>
							</div>
							<div id="collapseThree3" class="collapse" data-parent="#accordionExample3">
								<div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
							</div>
						</div>
					</div>
					<!--end::Accordion-->
					<!--begin::Code example-->
					<div class="example example-compact mt-5">
						<div class="example-tools">
							<span class="example-toggle" data-toggle="tooltip" title="View code"></span>
							<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
						</div>
						<div class="example-code">
							<div class="example-highlight">
								<pre style="height:300px">
<code class="language-html">
						&lt;div class="accordion accordion-solid accordion-toggle-plus" id="accordionExample3"&gt;
							&lt;div class="card"&gt;
								&lt;div class="card-header" id="headingOne3"&gt;
									&lt;div class="card-title" data-toggle="collapse" data-target="#collapseOne3"&gt;
										Recent Reports
									&lt;/div&gt;
								&lt;/div&gt;
								&lt;div id="collapseOne3" class="collapse show" data-parent="#accordionExample3"&gt;
									&lt;div class="card-body"&gt;
										...
									&lt;/div&gt;
								&lt;/div&gt;
							&lt;/div&gt;
							&lt;div class="card"&gt;
								&lt;div class="card-header" id="headingTwo3"&gt;
									&lt;div class="card-title collapsed" data-toggle="collapse" data-target="#collapseTwo3"&gt;
										Accounting Updates
									&lt;/div&gt;
								&lt;/div&gt;
								&lt;div id="collapseTwo3" class="collapse" data-parent="#accordionExample3"&gt;
									&lt;div class="card-body"&gt;
										...
									&lt;/div&gt;
								&lt;/div&gt;
							&lt;/div&gt;
							&lt;div class="card"&gt;
								&lt;div class="card-header" id="headingThree3"&gt;
									&lt;div class="card-title collapsed" data-toggle="collapse" data-target="#collapseThree3"&gt;
										Latest Payroll
									&lt;/div&gt;
								&lt;/div&gt;
								&lt;div id="collapseThree3" class="collapse" data-parent="#accordionExample3"&gt;
									&lt;div class="card-body"&gt;
										...
									&lt;/div&gt;
								&lt;/div&gt;
							&lt;/div&gt;
						&lt;/div&gt;
						</code>
</pre>
							</div>
						</div>
					</div>
					<!--end::Code example-->
				</div>
			</div>
			<!--end::Card-->
			<!--begin::Card-->
			<div class="card card-custom gutter-b">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">Light Style With SVG Icons</h3>
					</div>
				</div>
				<div class="card-body">
					<!--begin::Accordion-->
					<div class="accordion accordion-light accordion-light-borderless accordion-svg-toggle" id="accordionExample7">
						<div class="card">
							<div class="card-header" id="headingOne7">
								<div class="card-title" data-toggle="collapse" data-target="#collapseOne7">
									<span class="svg-icon svg-icon-primary">
										<!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Angle-double-right.svg-->
										<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
											<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
												<polygon points="0 0 24 0 24 24 0 24" />
												<path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero" />
												<path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999)" />
											</g>
										</svg>
										<!--end::Svg Icon-->
									</span>
									<div class="card-label pl-4">Product Inventory</div>
								</div>
							</div>
							<div id="collapseOne7" class="collapse show" data-parent="#accordionExample7">
								<div class="card-body pl-12">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingTwo7">
								<div class="card-title collapsed" data-toggle="collapse" data-target="#collapseTwo7">
									<span class="svg-icon svg-icon-primary">
										<!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Angle-double-right.svg-->
										<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
											<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
												<polygon points="0 0 24 0 24 24 0 24" />
												<path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero" />
												<path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999)" />
											</g>
										</svg>
										<!--end::Svg Icon-->
									</span>
									<div class="card-label pl-4">Order Statistics</div>
								</div>
							</div>
							<div id="collapseTwo7" class="collapse" data-parent="#accordionExample7">
								<div class="card-body pl-12">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingThree7">
								<div class="card-title collapsed" data-toggle="collapse" data-target="#collapseThree7">
									<span class="svg-icon svg-icon-primary">
										<!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Angle-double-right.svg-->
										<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
											<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
												<polygon points="0 0 24 0 24 24 0 24" />
												<path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero" />
												<path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999)" />
											</g>
										</svg>
										<!--end::Svg Icon-->
									</span>
									<div class="card-label pl-4">eCommerce Reports</div>
								</div>
							</div>
							<div id="collapseThree7" class="collapse" data-parent="#accordionExample7">
								<div class="card-body pl-12">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
							</div>
						</div>
					</div>
					<!--end::Accordion-->
					<!--begin::Code example-->
					<div class="example example-compact mt-5">
						<div class="example-tools">
							<span class="example-toggle" data-toggle="tooltip" title="View code"></span>
							<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
						</div>
						<div class="example-code">
							<div class="example-highlight">
								<pre style="height:300px">
<code class="language-html">
						&lt;div class="accordion accordion-light accordion-light-borderless accordion-svg-toggle" id="accordionExample7"&gt;
						 &lt;div class="card"&gt;
						  &lt;div class="card-header" id="headingOne7"&gt;
						   &lt;div class="card-title" data-toggle="collapse" data-target="#collapseOne7"&gt;
							&lt;span class="svg-icon svg-icon-primary"&gt;
							 &lt;svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"&gt;
							  &lt;g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"&gt;
							   &lt;polygon points="0 0 24 0 24 24 0 24"&gt;&lt;/polygon&gt;
							   &lt;path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"&gt;&lt;/path&gt;
							   &lt;path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "&gt;&lt;/path&gt;
							  &lt;/g&gt;
							 &lt;/svg&gt;
							&lt;/span&gt;
							&lt;div class="card-label pl-4"&gt;Product Inventory&lt;/div&gt;
						   &lt;/div&gt;
						  &lt;/div&gt;
						  &lt;div id="collapseOne7" class="collapse show" data-parent="#accordionExample7"&gt;
						   &lt;div class="card-body pl-12"&gt;
							...
						   &lt;/div&gt;
						  &lt;/div&gt;
						 &lt;/div&gt;
						 &lt;div class="card"&gt;
						  &lt;div class="card-header" id="headingTwo7"&gt;
						   &lt;div class="card-title collapsed" data-toggle="collapse" data-target="#collapseTwo7"&gt;
							&lt;span class="svg-icon svg-icon-primary"&gt;
							 &lt;svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"&gt;
							  &lt;g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"&gt;
							   &lt;polygon points="0 0 24 0 24 24 0 24"&gt;&lt;/polygon&gt;
							   &lt;path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"&gt;&lt;/path&gt;
							   &lt;path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "&gt;&lt;/path&gt;
							  &lt;/g&gt;
							 &lt;/svg&gt;
							&lt;/span&gt;
							&lt;div class="card-label pl-4"&gt;Order Statistics&lt;/div&gt;
						   &lt;/div&gt;
						  &lt;/div&gt;
						  &lt;div id="collapseTwo7" class="collapse" data-parent="#accordionExample7"&gt;
						   &lt;div class="card-body pl-12"&gt;
							...
						   &lt;/div&gt;
						  &lt;/div&gt;
						 &lt;/div&gt;
						 &lt;div class="card"&gt;
						  &lt;div class="card-header" id="headingThree7"&gt;
						   &lt;div class="card-title collapsed" data-toggle="collapse" data-target="#collapseThree7"&gt;
							&lt;span class="svg-icon svg-icon-primary"&gt;
							 &lt;svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"&gt;
							  &lt;g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"&gt;
							   &lt;polygon points="0 0 24 0 24 24 0 24"&gt;&lt;/polygon&gt;
							   &lt;path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"&gt;&lt;/path&gt;
							   &lt;path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "&gt;&lt;/path&gt;
							  &lt;/g&gt;
							 &lt;/svg&gt;
							&lt;/span&gt;
							&lt;div class="card-label pl-4"&gt;eCommerce Reports&lt;/div&gt;
						   &lt;/div&gt;
						  &lt;/div&gt;
						  &lt;div id="collapseThree7" class="collapse" data-parent="#accordionExample7"&gt;
						   &lt;div class="card-body pl-12"&gt;
							...
						   &lt;/div&gt;
						  &lt;/div&gt;
						 &lt;/div&gt;
						&lt;/div&gt;
						</code>
</pre>
							</div>
						</div>
					</div>
					<!--end::Code example-->
				</div>
			</div>
			<!--end::Card-->
		</div>
		<div class="col-lg-6">
			<!--begin::Card-->
			<div class="card card-custom gutter-b">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">With Icons</h3>
					</div>
				</div>
				<div class="card-body">
					<!--begin::Accordion-->
					<div class="accordion accordion-toggle-arrow" id="accordionExample4">
						<div class="card">
							<div class="card-header" id="headingOne4">
								<div class="card-title" data-toggle="collapse" data-target="#collapseOne4">
									<i class="flaticon2-layers-1"></i>User Permissions
								</div>
							</div>
							<div id="collapseOne4" class="collapse show" data-parent="#accordionExample4">
								<div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingTwo4">
								<div class="card-title collapsed" data-toggle="collapse" data-target="#collapseTwo4">
									<i class="flaticon2-copy"></i>Account Settings
								</div>
							</div>
							<div id="collapseTwo4" class="collapse" data-parent="#accordionExample4">
								<div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingThree4">
								<div class="card-title collapsed" data-toggle="collapse" data-target="#collapseThree4">
									<i class="flaticon2-bell-alarm-symbol"></i>Application Options
								</div>
							</div>
							<div id="collapseThree4" class="collapse" data-parent="#accordionExample4">
								<div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
							</div>
						</div>
					</div>
					<!--end::Accordion-->
					<!--begin::Code example-->
					<div class="example example-compact mt-5">
						<div class="example-tools">
							<span class="example-toggle" data-toggle="tooltip" title="View code"></span>
							<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
						</div>
						<div class="example-code">
							<div class="example-highlight">
								<pre style="height:300px">
<code class="language-html">
						&lt;div class="accordion  accordion-toggle-arrow" id="accordionExample4"&gt;
			 &lt;div class="card"&gt;
			  &lt;div class="card-header" id="headingOne4"&gt;
			   &lt;div class="card-title" data-toggle="collapse" data-target="#collapseOne4"&gt;
				&lt;i class="flaticon2-layers-1"&gt;&lt;/i&gt; User Permissions
			   &lt;/div&gt;
			  &lt;/div&gt;
			  &lt;div id="collapseOne4" class="collapse show" data-parent="#accordionExample4"&gt;
			   &lt;div class="card-body"&gt;
				...
			   &lt;/div&gt;
			  &lt;/div&gt;
			 &lt;/div&gt;
			 &lt;div class="card"&gt;
			  &lt;div class="card-header" id="headingTwo4"&gt;
			   &lt;div class="card-title collapsed" data-toggle="collapse" data-target="#collapseTwo4"&gt;
				&lt;i class="flaticon2-copy"&gt;&lt;/i&gt; Account Settings
			   &lt;/div&gt;
			  &lt;/div&gt;
			  &lt;div id="collapseTwo4" class="collapse" data-parent="#accordionExample4"&gt;
			   &lt;div class="card-body"&gt;
				...
			   &lt;/div&gt;
			  &lt;/div&gt;
			 &lt;/div&gt;
			 &lt;div class="card"&gt;
			  &lt;div class="card-header" id="headingThree4"&gt;
			   &lt;div class="card-title collapsed" data-toggle="collapse" data-target="#collapseThree4"&gt;
				&lt;i class="flaticon2-bell-alarm-symbol"&gt;&lt;/i&gt; Application Options
			   &lt;/div&gt;
			  &lt;/div&gt;
			  &lt;div id="collapseThree4" class="collapse" data-parent="#accordionExample4"&gt;
			   &lt;div class="card-body"&gt;
				...
			   &lt;/div&gt;
			  &lt;/div&gt;
			 &lt;/div&gt;
			&lt;/div&gt;
						</code>
</pre>
							</div>
						</div>
					</div>
					<!--end::Code example-->
				</div>
			</div>
			<!--end::Card-->
			<!--begin::Card-->
			<div class="card card-custom gutter-b">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">Light Style With Icons</h3>
					</div>
				</div>
				<div class="card-body">
					<!--begin::Accordion-->
					<div class="accordion accordion-light accordion-toggle-arrow" id="accordionExample5">
						<div class="card">
							<div class="card-header" id="headingOne5">
								<div class="card-title" data-toggle="collapse" data-target="#collapseOne5">
									<i class="flaticon-pie-chart-1"></i>Product Inventory
								</div>
							</div>
							<div id="collapseOne5" class="collapse show" data-parent="#accordionExample5">
								<div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingTwo5">
								<div class="card-title collapsed" data-toggle="collapse" data-target="#collapseTwo5">
									<i class="flaticon2-notification"></i>Order Statistics
								</div>
							</div>
							<div id="collapseTwo5" class="collapse" data-parent="#accordionExample5">
								<div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingThree5">
								<div class="card-title collapsed" data-toggle="collapse" data-target="#collapseThree5">
									<i class="flaticon2-chart"></i>eCommerce Reports
								</div>
							</div>
							<div id="collapseThree5" class="collapse" data-parent="#accordionExample5">
								<div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
							</div>
						</div>
					</div>
					<!--end::Accordion-->
					<!--begin::Code example-->
					<div class="example example-compact mt-5">
						<div class="example-tools">
							<span class="example-toggle" data-toggle="tooltip" title="View code"></span>
							<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
						</div>
						<div class="example-code">
							<div class="example-highlight">
								<pre style="height:300px">
<code class="language-html">
						&lt;div class="accordion accordion-light  accordion-toggle-arrow" id="accordionExample5"&gt;
			 &lt;div class="card"&gt;
			  &lt;div class="card-header" id="headingOne5"&gt;
			   &lt;div class="card-title" data-toggle="collapse" data-target="#collapseOne5"&gt;
				&lt;i class="flaticon-pie-chart-1"&gt;&lt;/i&gt; Product Inventory
			   &lt;/div&gt;
			  &lt;/div&gt;
			  &lt;div id="collapseOne5" class="collapse show" data-parent="#accordionExample5"&gt;
			   &lt;div class="card-body"&gt;
				...
			   &lt;/div&gt;
			  &lt;/div&gt;
			 &lt;/div&gt;
			 &lt;div class="card"&gt;
			  &lt;div class="card-header" id="headingTwo5"&gt;
			   &lt;div class="card-title collapsed" data-toggle="collapse" data-target="#collapseTwo5"&gt;
				&lt;i class="flaticon2-notification"&gt;&lt;/i&gt; Order Statistics
			   &lt;/div&gt;
			  &lt;/div&gt;
			  &lt;div id="collapseTwo5" class="collapse" data-parent="#accordionExample5"&gt;
			   &lt;div class="card-body"&gt;
				...
			   &lt;/div&gt;
			  &lt;/div&gt;
			 &lt;/div&gt;
			 &lt;div class="card"&gt;
			  &lt;div class="card-header" id="headingThree5"&gt;
			   &lt;div class="card-title collapsed" data-toggle="collapse" data-target="#collapseThree5"&gt;
				&lt;i class="flaticon2-chart"&gt;&lt;/i&gt; eCommerce Reports
			   &lt;/div&gt;
			  &lt;/div&gt;
			  &lt;div id="collapseThree5" class="collapse" data-parent="#accordionExample5"&gt;
			   &lt;div class="card-body"&gt;
				...
			   &lt;/div&gt;
			  &lt;/div&gt;
			 &lt;/div&gt;
			&lt;/div&gt;
						</code>
</pre>
							</div>
						</div>
					</div>
					<!--end::Code example-->
				</div>
			</div>
			<!--end::Card-->
			<!--begin::Card-->
			<div class="card card-custom gutter-b">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">Solid Style With Icons</h3>
					</div>
				</div>
				<div class="card-body">
					<!--begin::Accordion-->
					<div class="accordion accordion-solid accordion-toggle-plus" id="accordionExample6">
						<div class="card">
							<div class="card-header" id="headingOne6">
								<div class="card-title" data-toggle="collapse" data-target="#collapseOne6">
									<i class="flaticon-pie-chart-1"></i>Product Inventory
								</div>
							</div>
							<div id="collapseOne6" class="collapse show" data-parent="#accordionExample6">
								<div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingTwo6">
								<div class="card-title collapsed" data-toggle="collapse" data-target="#collapseTwo6">
									<i class="flaticon2-notification"></i>Order Statistics
								</div>
							</div>
							<div id="collapseTwo6" class="collapse" data-parent="#accordionExample6">
								<div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingThree6">
								<div class="card-title collapsed" data-toggle="collapse" data-target="#collapseThree6">
									<i class="flaticon2-chart"></i>eCommerce Reports
								</div>
							</div>
							<div id="collapseThree6" class="collapse" data-parent="#accordionExample6">
								<div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
							</div>
						</div>
					</div>
					<!--end::Accordion-->
					<!--begin::Code example-->
					<div class="example example-compact mt-5">
						<div class="example-tools">
							<span class="example-toggle" data-toggle="tooltip" title="View code"></span>
							<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
						</div>
						<div class="example-code">
							<div class="example-highlight">
								<pre style="height:300px">
<code class="language-html">
						&lt;div class="accordion accordion-solid accordion-toggle-plus" id="accordionExample6"&gt;
			 &lt;div class="card"&gt;
			  &lt;div class="card-header" id="headingOne6"&gt;
			   &lt;div class="card-title" data-toggle="collapse" data-target="#collapseOne6"&gt;
				&lt;i class="flaticon-pie-chart-1"&gt;&lt;/i&gt; Product Inventory
			   &lt;/div&gt;
			  &lt;/div&gt;
			  &lt;div id="collapseOne6" class="collapse show" data-parent="#accordionExample6"&gt;
			   &lt;div class="card-body"&gt;
				...
			   &lt;/div&gt;
			  &lt;/div&gt;
			 &lt;/div&gt;
			 &lt;div class="card"&gt;
			  &lt;div class="card-header" id="headingTwo6"&gt;
			   &lt;div class="card-title collapsed" data-toggle="collapse" data-target="#collapseTwo6"&gt;
				&lt;i class="flaticon2-notification"&gt;&lt;/i&gt; Order Statistics
			   &lt;/div&gt;
			  &lt;/div&gt;
			  &lt;div id="collapseTwo6" class="collapse" data-parent="#accordionExample6"&gt;
			   &lt;div class="card-body"&gt;
				...
			   &lt;/div&gt;
			  &lt;/div&gt;
			 &lt;/div&gt;
			 &lt;div class="card"&gt;
			  &lt;div class="card-header" id="headingThree6"&gt;
			   &lt;div class="card-title collapsed" data-toggle="collapse" data-target="#collapseThree6"&gt;
				&lt;i class="flaticon2-chart"&gt;&lt;/i&gt; eCommerce Reports
			   &lt;/div&gt;
			  &lt;/div&gt;
			  &lt;div id="collapseThree6" class="collapse" data-parent="#accordionExample6"&gt;
			   &lt;div class="card-body"&gt;
				...
			   &lt;/div&gt;
			  &lt;/div&gt;
			 &lt;/div&gt;
			&lt;/div&gt;
						</code>
</pre>
							</div>
						</div>
					</div>
					<!--end::Code example-->
				</div>
			</div>
			<!--end::Card-->
			<!--begin::Accordion-->
			<div class="accordion accordion-solid accordion-panel accordion-svg-toggle" id="accordionExample8">
				<div class="card">
					<div class="card-header" id="headingOne8">
						<div class="card-title" data-toggle="collapse" data-target="#collapseOne8">
							<div class="card-label">Product Inventory</div>
							<span class="svg-icon">
								<!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Angle-double-right.svg-->
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
									<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
										<polygon points="0 0 24 0 24 24 0 24" />
										<path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero" />
										<path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999)" />
									</g>
								</svg>
								<!--end::Svg Icon-->
							</span>
						</div>
					</div>
					<div id="collapseOne8" class="collapse show" data-parent="#accordionExample8">
						<div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="headingTwo8">
						<div class="card-title collapsed" data-toggle="collapse" data-target="#collapseTwo8">
							<div class="card-label">Order Statistics</div>
							<span class="svg-icon">
								<!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Angle-double-right.svg-->
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
									<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
										<polygon points="0 0 24 0 24 24 0 24" />
										<path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero" />
										<path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999)" />
									</g>
								</svg>
								<!--end::Svg Icon-->
							</span>
						</div>
					</div>
					<div id="collapseTwo8" class="collapse" data-parent="#accordionExample8">
						<div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="headingThree8">
						<div class="card-title collapsed" data-toggle="collapse" data-target="#collapseThree8">
							<div class="card-label">eCommerce Reports</div>
							<span class="svg-icon">
								<!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Angle-double-right.svg-->
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
									<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
										<polygon points="0 0 24 0 24 24 0 24" />
										<path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero" />
										<path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999)" />
									</g>
								</svg>
								<!--end::Svg Icon-->
							</span>
						</div>
					</div>
					<div id="collapseThree8" class="collapse" data-parent="#accordionExample8">
						<div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
					</div>
				</div>
			</div>
			<!--end::Accordion-->
			<!--begin::Code example-->
			<div class="example example-compact mt-5">
				<div class="example-tools">
					<span class="example-toggle" data-toggle="tooltip" title="View code"></span>
					<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
				</div>
				<div class="example-code">
					<div class="example-highlight">
						<pre style="height:300px">
<code class="language-html">
				&lt;div class="accordion accordion-solid accordion-panel accordion-svg-toggle" id="accordionExample8"&gt;
				 &lt;div class="card"&gt;
				  &lt;div class="card-header" id="headingOne8"&gt;
				   &lt;div class="card-title" data-toggle="collapse" data-target="#collapseOne8"&gt;
					&lt;div class="card-label"&gt;Product Inventory&lt;/div&gt;
					&lt;span class="svg-icon"&gt;
					 &lt;svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"&gt;
					  &lt;g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"&gt;
					   &lt;polygon points="0 0 24 0 24 24 0 24"&gt;&lt;/polygon&gt;
					   &lt;path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"&gt;&lt;/path&gt;
					   &lt;path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "&gt;&lt;/path&gt;
					  &lt;/g&gt;
					 &lt;/svg&gt;
					&lt;/span&gt;
				   &lt;/div&gt;
				  &lt;/div&gt;
				  &lt;div id="collapseOne8" class="collapse show" data-parent="#accordionExample8"&gt;
				   &lt;div class="card-body"&gt;
					...
				   &lt;/div&gt;
				  &lt;/div&gt;
				 &lt;/div&gt;
				 &lt;div class="card"&gt;
				  &lt;div class="card-header" id="headingTwo8"&gt;
				   &lt;div class="card-title collapsed" data-toggle="collapse" data-target="#collapseTwo8"&gt;
					&lt;div class="card-label"&gt;Order Statistics&lt;/div&gt;
					&lt;span class="svg-icon"&gt;
					 &lt;svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"&gt;
					  &lt;g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"&gt;
					   &lt;polygon points="0 0 24 0 24 24 0 24"&gt;&lt;/polygon&gt;
					   &lt;path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"&gt;&lt;/path&gt;
					   &lt;path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "&gt;&lt;/path&gt;
					  &lt;/g&gt;
					 &lt;/svg&gt;
					&lt;/span&gt;
				   &lt;/div&gt;
				  &lt;/div&gt;
				  &lt;div id="collapseTwo8" class="collapse" data-parent="#accordionExample8"&gt;
				   &lt;div class="card-body"&gt;
					...
				   &lt;/div&gt;
				  &lt;/div&gt;
				 &lt;/div&gt;
				 &lt;div class="card"&gt;
				  &lt;div class="card-header" id="headingThree8"&gt;
				   &lt;div class="card-title collapsed" data-toggle="collapse" data-target="#collapseThree8"&gt;
					&lt;div class="card-label"&gt;eCommerce Reports&lt;/div&gt;
					&lt;span class="svg-icon"&gt;
					 &lt;svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"&gt;
					  &lt;g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"&gt;
					   &lt;polygon points="0 0 24 0 24 24 0 24"&gt;&lt;/polygon&gt;
					   &lt;path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"&gt;&lt;/path&gt;
					   &lt;path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "&gt;&lt;/path&gt;
					  &lt;/g&gt;
					 &lt;/svg&gt;
					&lt;/span&gt;
				   &lt;/div&gt;
				  &lt;/div&gt;
				  &lt;div id="collapseThree8" class="collapse" data-parent="#accordionExample8"&gt;
				   &lt;div class="card-body"&gt;
					...
				   &lt;/div&gt;
				  &lt;/div&gt;
				 &lt;/div&gt;
				&lt;/div&gt;
				</code>
</pre>
					</div>
				</div>
			</div>
			<!--end::Code example-->
		</div>
	</div>
	<!--end::Row-->
</div>
<!--end::Container-->
