@{
	ViewBag.Title = "Utilities";
    Layout = "_LayoutFeatures";
}

<!--begin::Container-->
<div class="container">	
	<!--begin::Row-->
	<div class="row mb-10">
		<div class="col-lg-6">
			<!--begin::Callout-->
			<div class="card card-custom mb-2">
				<div class="card-body">
					<div class="d-flex align-items-center justify-content-between p-4 flex-lg-wrap flex-xl-nowrap">
						<div class="d-flex flex-column mr-5">
							<a href="#" class="h4 text-dark text-hover-primary mb-5">Get In Touch</a>
							<p class="text-dark-50">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
						</div>
						<div class="ml-6 ml-lg-0 ml-xxl-6 flex-shrink-0">
							<a href="custom/apps/support-center/feedback.html" target="_blank" class="btn font-weight-bolder text-uppercase btn-primary py-4 px-6">Submit a Request</a>
						</div>
					</div>
				</div>
			</div>
			<!--end::Callout-->
			<!--begin::Code example-->
			<div class="example example-compact">
				<div class="example-tools">
					<span class="example-toggle" data-toggle="tooltip" title="View code"></span>
					<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
				</div>
				<div class="example-code">
					<div class="example-highlight">
						<pre>
<code class="language-html">
				&lt;div class="card card-custom gutter-b"&gt;
				 &lt;div class="card-body"&gt;
				  &lt;div class="d-flex align-items-center p-5"&gt;
				   &lt;div class="mr-6"&gt;
					&lt;span class="svg-icon svg-icon-2x"&gt;
					 &lt;svg&gt;
					  ...
					 &lt;/svg&gt;
					&lt;/span&gt;
				   &lt;/div&gt;
				   &lt;div class="d-flex flex-column"&gt;
					&lt;a href="#" class="h4 text-dark text-hover-primary mb-5"&gt;
						Get Started
					&lt;/a&gt;
					&lt;p class="text-dark-50"&gt;
					 ...
					&lt;/p&gt;
				   &lt;/div&gt;
				  &lt;/div&gt;
				 &lt;/div&gt;
				&lt;/div&gt;
	</code>
</pre>
					</div>
				</div>
			</div>
			<!--end::Code example-->
		</div>
		<div class="col-lg-6">
			<!--begin::Callout-->
			<div class="card card-custom mb-2">
				<div class="card-body">
					<div class="d-flex align-items-center justify-content-between p-4 flex-lg-wrap flex-xl-nowrap">
						<div class="d-flex flex-column mr-5">
							<a href="#" class="h4 text-dark text-hover-primary mb-5">Customer Support</a>
							<p class="text-dark-50">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
						</div>
						<div class="ml-6 ml-lg-0 ml-xxl-6 flex-shrink-0">
							<a href="custom/apps/support-center/feedback.html" target="_blank" class="btn font-weight-bolder text-uppercase btn-success py-4 px-6">Make A Call</a>
						</div>
					</div>
				</div>
			</div>
			<!--end::Callout-->
			<!--begin::Code example-->
			<div class="example example-compact mt-2">
				<div class="example-tools">
					<span class="example-toggle" data-toggle="tooltip" title="View code"></span>
					<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
				</div>
				<div class="example-code">
					<div class="example-highlight">
						<pre>
<code class="language-html">
				&lt;div class="card card-custom gutter-b"&gt;
				 &lt;div class="card-body"&gt;
						&lt;div class="d-flex align-items-center justify-content-between p-4 flex-lg-wrap flex-xl-nowrap"&gt;
							&lt;div class="d-flex flex-column mr-5"&gt;
								&lt;a href="#" class="h4 text-dark text-hover-primary mb-5"&gt;
									Customer Support
								&lt;/a&gt;
								&lt;p class="text-dark-50"&gt;
									...
								&lt;/p&gt;
							&lt;/div&gt;
							&lt;div class="ml-6 ml-lg-0 ml-xxl-6 flex-shrink-0"&gt;
								&lt;a href="#" target="_blank" class="btn font-weight-bolder text-uppercase btn-success py-4 px-6"&gt;
									Make A Call
								&lt;/a&gt;
							&lt;/div&gt;
						&lt;/div&gt;
				 &lt;/div&gt;
				&lt;/div&gt;
	</code>
</pre>
					</div>
				</div>
			</div>
			<!--end::Code example-->
		</div>
	</div>
	<!--end::Row-->
	<!--begin::Row-->
	<div class="row mb-10">
		<div class="col-lg-6 col-xl-4 mb-10">
			<!--begin::Callout-->
			<div class="card card-custom mb-2 bg-light-primary">
				<div class="card-body">
					<div class="d-flex align-items-center justify-content-between p-4 flex-lg-wrap flex-xl-nowrap">
						<div class="d-flex flex-column mr-5">
							<a href="#" class="h4 text-dark text-hover-primary mb-5">Get In Touch</a>
							<p class="text-dark-50">There are many variations of Lorem Ipsum available.</p>
						</div>
						<div class="ml-6 ml-lg-0 ml-xxl-6 flex-shrink-0">
							<a href="custom/apps/support-center/feedback.html" target="_blank" class="btn font-weight-bolder text-uppercase btn-primary py-4 px-6">Contact Us</a>
						</div>
					</div>
				</div>
			</div>
			<!--end::Callout-->
			<!--begin::Code example-->
			<div class="example example-compact">
				<div class="example-tools">
					<span class="example-toggle" data-toggle="tooltip" title="View code"></span>
					<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
				</div>
				<div class="example-code">
					<div class="example-highlight">
						<pre>
<code class="language-html">
				&lt;div class="card card-custom gutter-b bg-light-primary"&gt;
				 &lt;div class="card-body"&gt;
				  &lt;div class="d-flex align-items-center justify-content-between p-4 flex-lg-wrap flex-xl-nowrap"&gt;
							&lt;div class="d-flex flex-column mr-5"&gt;
								&lt;a href="#" class="h4 text-dark text-hover-primary mb-5"&gt;
									Get In Touch
								&lt;/a&gt;
								&lt;p class="text-dark-50"&gt;
									There are many variations of Lorem Ipsum available.
								&lt;/p&gt;
							&lt;/div&gt;
				   &lt;div class="ml-6 ml-lg-0 ml-xxl-6 flex-shrink-0"&gt;
					&lt;a href="#" target="_blank" class="btn font-weight-bolder text-uppercase btn-primary py-4 px-6"&gt;
					Contact Us
					&lt;/a&gt;
				   &lt;/div&gt;
				  &lt;/div&gt;
				 &lt;/div&gt;
				&lt;/div&gt;
	</code>
</pre>
					</div>
				</div>
			</div>
			<!--end::Code example-->
		</div>
		<div class="col-lg-6 col-xl-4 mb-10">
			<!--begin::Callout-->
			<div class="card card-custom mb-2 bg-light-success">
				<div class="card-body">
					<div class="d-flex align-items-center justify-content-between p-4 flex-lg-wrap flex-xl-nowrap">
						<div class="d-flex flex-column mr-5">
							<a href="#" class="h4 text-dark text-hover-primary mb-5">Customer Support</a>
							<p class="text-dark-50">There are many variations of Lorem Ipsum available.</p>
						</div>
						<div class="ml-6 ml-lg-0 ml-xxl-6 flex-shrink-0">
							<a href="custom/apps/support-center/feedback.html" target="_blank" class="btn font-weight-bolder text-uppercase btn-success py-4 px-6">Make A Call</a>
						</div>
					</div>
				</div>
			</div>
			<!--end::Callout-->
			<!--begin::Code example-->
			<div class="example example-compact">
				<div class="example-tools">
					<span class="example-toggle" data-toggle="tooltip" title="View code"></span>
					<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
				</div>
				<div class="example-code">
					<div class="example-highlight">
						<pre>
<code class="language-html">
				&lt;div class="card card-custom gutter-b bg-light-success"&gt;
				 &lt;div class="card-body"&gt;
				  &lt;div class="d-flex align-items-center justify-content-between p-4 flex-lg-wrap flex-xl-nowrap"&gt;
				   &lt;div class="d-flex flex-column mr-5"&gt;
					&lt;a href="#" class="h4 text-dark text-hover-primary mb-5"&gt;
						Customer Support
					&lt;/a&gt;
					&lt;p class="text-dark-50"&gt;
					 There are many variations of passages of Lorem Ipsum.
					&lt;/p&gt;
				   &lt;/div&gt;
				   &lt;div class="ml-6 ml-lg-0 ml-xxl-6 flex-shrink-0"&gt;
					&lt;a href="#" target="_blank" class="btn font-weight-bolder text-uppercase btn-success py-4 px-6"&gt;
					Make A Call
					&lt;/a&gt;
				   &lt;/div&gt;
				  &lt;/div&gt;
				 &lt;/div&gt;
				&lt;/div&gt;
	</code>
</pre>
					</div>
				</div>
			</div>
			<!--end::Code example-->
		</div>
		<div class="col-lg-6 col-xl-4 mb-10">
			<!--begin::Callout-->
			<div class="card card-custom mb-2 bg-light-danger">
				<div class="card-body">
					<div class="d-flex align-items-center justify-content-between p-4 flex-lg-wrap flex-xl-nowrap">
						<div class="d-flex flex-column mr-5">
							<a href="#" class="h4 text-dark text-hover-primary mb-5">Online Chat</a>
							<p class="text-dark-50">There are many variations of Lorem Ipsum available.</p>
						</div>
						<div class="ml-6 ml-lg-0 ml-xxl-6 flex-shrink-0">
							<a href="custom/apps/support-center/feedback.html" target="_blank" class="btn font-weight-bolder text-uppercase btn-danger py-4 px-6">Start Chat</a>
						</div>
					</div>
				</div>
			</div>
			<!--end::Callout-->
			<!--begin::Code example-->
			<div class="example example-compact">
				<div class="example-tools">
					<span class="example-toggle" data-toggle="tooltip" title="View code"></span>
					<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
				</div>
				<div class="example-code">
					<div class="example-highlight">
						<pre>
<code class="language-html">
				&lt;div class="card card-custom gutter-b bg-light-danger"&gt;
				 &lt;div class="card-body"&gt;
				  &lt;div class="d-flex align-items-center justify-content-between p-4 flex-lg-wrap flex-xl-nowrap"&gt;
				   &lt;div class="d-flex flex-column mr-5"&gt;
					&lt;a href="#" class="h4 text-dark text-hover-primary mb-5"&gt;
						Online Chat
					&lt;/a&gt;
					&lt;p class="text-dark-50"&gt;
					 There are many variations of passages of Lorem Ipsum available.
					&lt;/p&gt;
				   &lt;/div&gt;
				   &lt;div class="ml-6 ml-lg-0 ml-xxl-6 flex-shrink-0"&gt;
					&lt;a href="#" target="_blank" class="btn font-weight-bolder text-uppercase btn-danger py-4 px-6"&gt;
						Start Chat
					&lt;/a&gt;
				   &lt;/div&gt;
				  &lt;/div&gt;
				 &lt;/div&gt;
				&lt;/div&gt;
	</code>
</pre>
					</div>
				</div>
			</div>
			<!--end::Code example-->
		</div>
		<div class="col-lg-6 col-xl-4 mb-10">
			<!--begin::Callout-->
			<div class="card card-custom mb-2 bg-diagonal">
				<div class="card-body">
					<div class="d-flex align-items-center justify-content-between p-4 flex-lg-wrap flex-xl-nowrap">
						<div class="d-flex flex-column mr-5">
							<a href="#" class="h4 text-dark text-hover-primary mb-5">Get In Touch</a>
							<p class="text-dark-50">There are many variations of Lorem Ipsum available.</p>
						</div>
						<div class="ml-6 ml-lg-0 ml-xxl-6 flex-shrink-0">
							<a href="custom/apps/support-center/feedback.html" target="_blank" class="btn font-weight-bolder text-uppercase btn-light-primary py-4 px-6">Contact Us</a>
						</div>
					</div>
				</div>
			</div>
			<!--end::Callout-->
			<!--begin::Code example-->
			<div class="example example-compact">
				<div class="example-tools">
					<span class="example-toggle" data-toggle="tooltip" title="View code"></span>
					<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
				</div>
				<div class="example-code">
					<div class="example-highlight">
						<pre>
<code class="language-html">
				&lt;div class="card card-custom gutter-b bg-diagonal bg-diagonal-light-primary"&gt;
				 &lt;div class="card-body"&gt;
				  &lt;div class="d-flex align-items-center justify-content-between p-4 flex-lg-wrap flex-xl-nowrap"&gt;
				   &lt;div class="d-flex flex-column mr-5"&gt;
					&lt;a href="#" class="h4 text-dark text-hover-primary mb-5"&gt;
					Get In Touch
					&lt;/a&gt;
					&lt;p class="text-dark-50"&gt;
					 There are many variations of Lorem Ipsum available.
					&lt;/p&gt;
				   &lt;/div&gt;
				   &lt;div class="ml-6 ml-lg-0 ml-xxl-6 flex-shrink-0"&gt;
					&lt;a href="#" target="_blank" class="btn font-weight-bolder text-uppercase btn-primary py-4 px-6"&gt;
					Contact Us
					&lt;/a&gt;
				   &lt;/div&gt;
				  &lt;/div&gt;
				 &lt;/div&gt;
				&lt;/div&gt;
	</code>
</pre>
					</div>
				</div>
			</div>
			<!--end::Code example-->
		</div>
		<div class="col-lg-6 col-xl-4 mb-10">
			<!--begin::Callout-->
			<div class="card card-custom mb-2 bg-diagonal">
				<div class="card-body">
					<div class="d-flex align-items-center justify-content-between p-4 flex-lg-wrap flex-xl-nowrap">
						<div class="d-flex flex-column mr-5">
							<a href="#" class="h4 text-dark text-hover-primary mb-5">Customer Support</a>
							<p class="text-dark-50">There are many variations of Lorem Ipsum available.</p>
						</div>
						<div class="ml-6 ml-lg-0 ml-xxl-6 flex-shrink-0">
							<a href="custom/apps/support-center/feedback.html" target="_blank" class="btn font-weight-bolder text-uppercase btn-light-success py-4 px-6">Make A Call</a>
						</div>
					</div>
				</div>
			</div>
			<!--end::Callout-->
			<!--begin::Code example-->
			<div class="example example-compact">
				<div class="example-tools">
					<span class="example-toggle" data-toggle="tooltip" title="View code"></span>
					<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
				</div>
				<div class="example-code">
					<div class="example-highlight">
						<pre>
<code class="language-html">
				&lt;div class="card card-custom gutter-b bg-diagonal"&gt;
				 &lt;div class="card-body"&gt;
				  &lt;div class="d-flex align-items-center justify-content-between p-4 flex-lg-wrap flex-xl-nowrap"&gt;
				   &lt;div class="d-flex flex-column mr-5"&gt;
					&lt;a href="#" class="h4 text-dark text-hover-primary mb-5"&gt;
					Customer Support
					&lt;/a&gt;
					&lt;p class="text-dark-50"&gt;
					 There are many variations of passages of Lorem Ipsum.
					&lt;/p&gt;
				   &lt;/div&gt;
				   &lt;div class="ml-6 ml-lg-0 ml-xxl-6 flex-shrink-0"&gt;
					&lt;a href="#" target="_blank" class="btn font-weight-bolder text-uppercase btn-light-success py-4 px-6"&gt;
					Make A Call
					&lt;/a&gt;
				   &lt;/div&gt;
				  &lt;/div&gt;
				 &lt;/div&gt;
				&lt;/div&gt;
	</code>
</pre>
					</div>
				</div>
			</div>
			<!--end::Code example-->
		</div>
		<div class="col-lg-6 col-xl-4 mb-10">
			<!--begin::Callout-->
			<div class="card card-custom mb-2 bg-diagonal">
				<div class="card-body">
					<div class="d-flex align-items-center justify-content-between p-4 flex-lg-wrap flex-xl-nowrap">
						<div class="d-flex flex-column mr-5">
							<a href="#" class="h4 text-dark text-hover-primary mb-5">Online Chat</a>
							<p class="text-dark-50">There are many variations of Lorem Ipsum available.</p>
						</div>
						<div class="ml-6 ml-lg-0 ml-xxl-6 flex-shrink-0">
							<a href="custom/apps/support-center/feedback.html" target="_blank" class="btn font-weight-bolder text-uppercase btn-light-warning py-4 px-6">Start Chat</a>
						</div>
					</div>
				</div>
			</div>
			<!--end::Callout-->
			<!--begin::Code example-->
			<div class="example example-compact">
				<div class="example-tools">
					<span class="example-toggle" data-toggle="tooltip" title="View code"></span>
					<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
				</div>
				<div class="example-code">
					<div class="example-highlight">
						<pre>
<code class="language-html">
				&lt;div class="card card-custom gutter-b bg-diagonal"&gt;
				 &lt;div class="card-body"&gt;
				  &lt;div class="d-flex align-items-center justify-content-between p-4 flex-lg-wrap flex-xl-nowrap"&gt;
				   &lt;div class="d-flex flex-column mr-5"&gt;
					&lt;a href="#" class="h4 text-dark text-hover-primary mb-5"&gt;
					Online Chat
					&lt;/a&gt;
					&lt;p class="text-dark-50"&gt;
					 There are many variations of passages of Lorem Ipsum available.
					&lt;/p&gt;
				   &lt;/div&gt;
				   &lt;div class="ml-6 ml-lg-0 ml-xxl-6 flex-shrink-0"&gt;
					&lt;a href="#" target="_blank" class="btn font-weight-bolder text-uppercase btn-light-warning py-4 px-6"&gt;
					Start Chat
					&lt;/a&gt;
				   &lt;/div&gt;
				  &lt;/div&gt;
				 &lt;/div&gt;
				&lt;/div&gt;
	</code>
</pre>
					</div>
				</div>
			</div>
			<!--end::Code example-->
		</div>
		<div class="col-lg-6 col-xl-4 mb-10">
			<!--begin::Callout-->
			<div class="card card-custom mb-2 bg-diagonal bg-diagonal-light-primary">
				<div class="card-body">
					<div class="d-flex align-items-center justify-content-between p-4 flex-lg-wrap flex-xl-nowrap">
						<div class="d-flex flex-column mr-5">
							<a href="#" class="h4 text-dark text-hover-primary mb-5">Get In Touch</a>
							<p class="text-dark-50">There are many variations of Lorem Ipsum available.</p>
						</div>
						<div class="ml-6 ml-lg-0 ml-xxl-6 flex-shrink-0">
							<a href="custom/apps/support-center/feedback.html" target="_blank" class="btn font-weight-bolder text-uppercase btn-primary py-4 px-6">Contact Us</a>
						</div>
					</div>
				</div>
			</div>
			<!--end::Callout-->
			<!--begin::Code example-->
			<div class="example example-compact">
				<div class="example-tools">
					<span class="example-toggle" data-toggle="tooltip" title="View code"></span>
					<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
				</div>
				<div class="example-code">
					<div class="example-highlight">
						<pre>
<code class="language-html">
				&lt;div class="card card-custom gutter-b bg-diagonal bg-diagonal-light-primary"&gt;
				 &lt;div class="card-body"&gt;
				  &lt;div class="d-flex align-items-center justify-content-between p-4 flex-lg-wrap flex-xl-nowrap"&gt;
				   &lt;div class="d-flex flex-column mr-5"&gt;
					&lt;a href="#" class="h4 text-dark text-hover-primary mb-5"&gt;
					Get In Touch
					&lt;/a&gt;
					&lt;p class="text-dark-50"&gt;
					 There are many variations of Lorem Ipsum available.
					&lt;/p&gt;
				   &lt;/div&gt;
				   &lt;div class="ml-6 ml-lg-0 ml-xxl-6 flex-shrink-0"&gt;
					&lt;a href="#" target="_blank" class="btn font-weight-bolder text-uppercase btn-primary py-4 px-6"&gt;
					Contact Us
					&lt;/a&gt;
				   &lt;/div&gt;
				  &lt;/div&gt;
				 &lt;/div&gt;
				&lt;/div&gt;
	</code>
</pre>
					</div>
				</div>
			</div>
			<!--end::Code example-->
		</div>
		<div class="col-lg-6 col-xl-4 mb-10">
			<!--begin::Callout-->
			<div class="card card-custom mb-2 bg-diagonal bg-diagonal-light-success">
				<div class="card-body">
					<div class="d-flex align-items-center justify-content-between p-4 flex-lg-wrap flex-xl-nowrap">
						<div class="d-flex flex-column mr-5">
							<a href="#" class="h4 text-dark text-hover-primary mb-5">Customer Support</a>
							<p class="text-dark-50">There are many variations of Lorem Ipsum available.</p>
						</div>
						<div class="ml-6 ml-lg-0 ml-xxl-6 flex-shrink-0">
							<a href="custom/apps/support-center/feedback.html" target="_blank" class="btn font-weight-bolder text-uppercase btn-success py-4 px-6">Make A Call</a>
						</div>
					</div>
				</div>
			</div>
			<!--end::Callout-->
			<!--begin::Code example-->
			<div class="example example-compact">
				<div class="example-tools">
					<span class="example-toggle" data-toggle="tooltip" title="View code"></span>
					<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
				</div>
				<div class="example-code">
					<div class="example-highlight">
						<pre>
<code class="language-html">
				&lt;div class="card card-custom gutter-b bg-diagonal bg-diagonal-light-success"&gt;
				 &lt;div class="card-body"&gt;
				  &lt;div class="d-flex align-items-center justify-content-between p-4 flex-lg-wrap flex-xl-nowrap"&gt;
				   &lt;div class="d-flex flex-column mr-5"&gt;
					&lt;a href="#" class="h4 text-dark text-hover-primary mb-5"&gt;
					Customer Support
					&lt;/a&gt;
					&lt;p class="text-dark-50"&gt;
					 There are many variations of passages of Lorem Ipsum.
					&lt;/p&gt;
				   &lt;/div&gt;
				   &lt;div class="ml-6 ml-lg-0 ml-xxl-6 flex-shrink-0"&gt;
					&lt;a href="#" target="_blank" class="btn font-weight-bolder text-uppercase btn-success py-4 px-6"&gt;
					Make A Call
					&lt;/a&gt;
				   &lt;/div&gt;
				  &lt;/div&gt;
				 &lt;/div&gt;
				&lt;/div&gt;
	</code>
</pre>
					</div>
				</div>
			</div>
			<!--end::Code example-->
		</div>
		<div class="col-lg-6 col-xl-4">
			<!--begin::Callout-->
			<div class="card card-custom mb-2 bg-diagonal bg-diagonal-light-warning">
				<div class="card-body">
					<div class="d-flex align-items-center justify-content-between p-4 flex-lg-wrap flex-xl-nowrap">
						<div class="d-flex flex-column mr-5">
							<a href="#" class="h4 text-dark text-hover-primary mb-5">Online Chat</a>
							<p class="text-dark-50">There are many variations of Lorem Ipsum available.</p>
						</div>
						<div class="ml-6 ml-lg-0 ml-xxl-6 flex-shrink-0">
							<a href="custom/apps/support-center/feedback.html" target="_blank" class="btn font-weight-bolder text-uppercase btn-warning py-4 px-6">Start Chat</a>
						</div>
					</div>
				</div>
			</div>
			<!--end::Callout-->
			<!--begin::Code example-->
			<div class="example example-compact">
				<div class="example-tools">
					<span class="example-toggle" data-toggle="tooltip" title="View code"></span>
					<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
				</div>
				<div class="example-code">
					<div class="example-highlight">
						<pre>
<code class="language-html">
				&lt;div class="card card-custom gutter-b bg-diagonal bg-diagonal-light-warning"&gt;
				 &lt;div class="card-body"&gt;
				  &lt;div class="d-flex align-items-center justify-content-between p-4 flex-lg-wrap flex-xl-nowrap"&gt;
				   &lt;div class="d-flex flex-column mr-5"&gt;
					&lt;a href="#" class="h4 text-dark text-hover-primary mb-5"&gt;
					Online Chat
					&lt;/a&gt;
					&lt;p class="text-dark-50"&gt;
					 There are many variations of passages of Lorem Ipsum available.
					&lt;/p&gt;
				   &lt;/div&gt;
				   &lt;div class="ml-6 ml-lg-0 ml-xxl-6 flex-shrink-0"&gt;
					&lt;a href="#" target="_blank" class="btn font-weight-bolder text-uppercase btn-warning py-4 px-6"&gt;
					Start Chat
					&lt;/a&gt;
				   &lt;/div&gt;
				  &lt;/div&gt;
				 &lt;/div&gt;
				&lt;/div&gt;
	</code>
</pre>
					</div>
				</div>
			</div>
			<!--end::Code example-->
		</div>
	</div>
	<!--end::Row-->
</div>
<!--end::Container-->