@{
	ViewBag.Title = "Dropdown";
	Layout = "_LayoutFeatures";
}

<!--begin::Container-->
<div class="container">	
	<!--begin::Row-->
	<div class="row">
		<div class="col-xl-6">
			<!--begin::Card-->
			<div class="card card-custom gutter-b">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">Single Button</h3>
					</div>
				</div>
				<div class="card-body">
					<!--begin::Example-->
					<div class="example mb-15">
						<p>
							Turn any
							<code>.btn</code>into a dropdown toggle with some markup changes. Here’s how you can put them to work with
							<code>&lt;button&gt;</code>.
						</p>
						<div class="example-preview">
							<div class="dropdown">
								<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown button</button>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
						</div>
						<div class="example-code">
							<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
							<div class="example-highlight">
								<pre>
<code class="language-html">
						&lt;div class="dropdown"&gt;
							&lt;button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"&gt;
								Dropdown button
							&lt;/button&gt;
							&lt;div class="dropdown-menu" aria-labelledby="dropdownMenuButton"&gt;
								&lt;a class="dropdown-item" href="#"&gt;Action&lt;/a&gt;
								&lt;a class="dropdown-item" href="#"&gt;Another action&lt;/a&gt;
								&lt;a class="dropdown-item" href="#"&gt;Something else here&lt;/a&gt;
							&lt;/div&gt;
						&lt;/div&gt;</code>
</pre>
							</div>
						</div>
					</div>
					<!--end::Example-->
					<!--begin::Example-->
					<div class="example mb-15">
						<p>Turn single icon buttons into a dropdown toggle with some markup changes.</p>
						<div class="example-preview">
							<div class="dropdown dropdown-inline mr-4">
								<button type="button" class="btn btn-light-primary btn-icon btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="ki ki-bold-more-hor"></i>
								</button>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#">Separated link</a>
								</div>
							</div>
							<div class="dropdown dropdown-inline">
								<button type="button" class="btn btn-light-primary btn-icon btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="ki ki-bold-more-ver"></i>
								</button>
								<div class="dropdown-menu dropdown-menu-sm">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#">Separated link</a>
								</div>
							</div>
						</div>
						<div class="example-code">
							<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
							<div class="example-highlight">
								<pre>
<code class="language-html">
						&lt;div class="dropdown dropdown-inline mr-4"&gt;
							&lt;button type="button" class="btn btn-light-primary btn-icon btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"&gt;
								&lt;i class="ki ki-bold-more-hor"&gt;&lt;/i&gt;
							&lt;/button&gt;
							&lt;div class="dropdown-menu"&gt;
								...
							&lt;/div&gt;
						&lt;/div&gt;

						&lt;div class="dropdown dropdown-inline"&gt;
							&lt;button type="button" class="btn btn-light-primary btn-icon btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"&gt;
								&lt;i class="ki ki-bold-more-ver"&gt;&lt;/i&gt;
							&lt;/button&gt;
							&lt;div class="dropdown-menu"&gt;
								...
							&lt;/div&gt;
						&lt;/div&gt;</code>
</pre>
							</div>
						</div>
					</div>
					<!--end::Example-->
					<!--begin::Example-->
					<div class="example">
						<p>You can do this with any button variant as well:</p>
						<div class="example-preview">
							<div class="btn-group">
								<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Primary</button>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#">Separated link</a>
								</div>
							</div>
							<!-- /btn-group-->
							<div class="btn-group">
								<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Secondary</button>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#">Separated link</a>
								</div>
							</div>
							<!-- /btn-group-->
							<div class="btn-group">
								<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Success</button>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#">Separated link</a>
								</div>
							</div>
							<!-- /btn-group-->
							<div class="btn-group">
								<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Warning</button>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#">Separated link</a>
								</div>
							</div>
							<!-- /btn-group-->
							<div class="btn-group">
								<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Danger</button>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#">Separated link</a>
								</div>
							</div>
							<!-- /btn-group-->
						</div>
						<div class="example-code">
							<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
							<div class="example-highlight">
								<pre>
<code class="language-html">
						&lt;!-- Example single danger button--&gt;
						&lt;div class="btn-group"&gt;
							&lt;button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"&gt;Action&lt;/button&gt;
						  &lt;div class="dropdown-menu"&gt;
							  ...
						  &lt;/div&gt;
						&lt;/div&gt;</code>
</pre>
							</div>
						</div>
					</div>
					<!--end::Example-->
				</div>
			</div>
			<!--end::Card-->
			<!--begin::Card-->
			<div class="card card-custom gutter-b">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">Split Button</h3>
					</div>
				</div>
				<div class="card-body">
					<!--begin::Example-->
					<div class="example">
						<p>
							Create split button dropdowns with virtually the same markup as single button dropdowns by adding
							<code>.dropdown-toggle-split</code>for proper spacing around the dropdown caret.
						</p>
						<div class="example-preview">
							<div class="btn-group">
								<button type="button" class="btn btn-primary">Primary</button>
								<button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class="sr-only">Toggle Dropdown</span>
								</button>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#">Separated link</a>
								</div>
							</div>
							<!-- /btn-group-->
							<div class="btn-group">
								<button type="button" class="btn btn-secondary">Secondary</button>
								<button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class="sr-only">Toggle Dropdown</span>
								</button>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#">Separated link</a>
								</div>
							</div>
							<!-- /btn-group-->
							<div class="btn-group">
								<button type="button" class="btn btn-success">Success</button>
								<button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class="sr-only">Toggle Dropdown</span>
								</button>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#">Separated link</a>
								</div>
							</div>
							<!-- /btn-group-->
							<div class="btn-group">
								<button type="button" class="btn btn-warning">Warning</button>
								<button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class="sr-only">Toggle Dropdown</span>
								</button>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#">Separated link</a>
								</div>
							</div>
						</div>
						<div class="example-code">
							<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
							<div class="example-highlight">
								<pre>
<code class="language-html">
						&lt;div class="btn-group"&gt;
							&lt;button type="button" class="btn btn-primary"&gt;Primary&lt;/button&gt;
							&lt;button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"&gt;
								&lt;span class="sr-only"&gt;Toggle Dropdown&lt;/span&gt;
							&lt;/button&gt;
							&lt;div class="dropdown-menu"&gt;
								...
							&lt;/div&gt;
						&lt;/div&gt;</code>
</pre>
							</div>
						</div>
					</div>
					<!--end::Example-->
				</div>
			</div>
			<!--begin::Card-->
			<div class="card card-custom">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">Sizing</h3>
					</div>
				</div>
				<div class="card-body">
					<!--begin::Example-->
					<div class="example">
						<p>Button dropdowns work with buttons of all sizes, including default and split dropdown buttons.</p>
						<div class="example-preview">
							<div class="py-4">
								<div class="btn-toolbar" role="toolbar">
									<div class="btn-group">
										<button class="btn btn-primary font-weight-bold btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Large button</button>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="#">Action</a>
											<a class="dropdown-item" href="#">Another action</a>
											<a class="dropdown-item" href="#">Something else here</a>
											<div class="dropdown-divider"></div>
											<a class="dropdown-item" href="#">Separated link</a>
										</div>
									</div>
									<!-- /btn-group-->
									<div class="btn-group ml-2">
										<button type="button" class="btn btn-lg btn-light-primary font-weight-bold">Large split button</button>
										<button type="button" class="btn btn-lg btn-light-primary font-weight-bold dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<span class="sr-only">Toggle Dropdown</span>
										</button>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="#">Action</a>
											<a class="dropdown-item" href="#">Another action</a>
											<a class="dropdown-item" href="#">Something else here</a>
											<div class="dropdown-divider"></div>
											<a class="dropdown-item" href="#">Separated link</a>
										</div>
									</div>
									<!-- /btn-group-->
								</div>
							</div>
							<div>
								<div class="btn-toolbar" role="toolbar">
									<div class="btn-group">
										<button class="btn btn-primary font-weight-bold dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Large button</button>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="#">Action</a>
											<a class="dropdown-item" href="#">Another action</a>
											<a class="dropdown-item" href="#">Something else here</a>
											<div class="dropdown-divider"></div>
											<a class="dropdown-item" href="#">Separated link</a>
										</div>
									</div>
									<!-- /btn-group-->
									<div class="btn-group ml-2">
										<button type="button" class="btn btn-light-primary font-weight-bold">Large split button</button>
										<button type="button" class="btn btn-light-primary font-weight-bold dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<span class="sr-only">Toggle Dropdown</span>
										</button>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="#">Action</a>
											<a class="dropdown-item" href="#">Another action</a>
											<a class="dropdown-item" href="#">Something else here</a>
											<div class="dropdown-divider"></div>
											<a class="dropdown-item" href="#">Separated link</a>
										</div>
									</div>
									<!-- /btn-group-->
								</div>
								<!-- /btn-toolbar-->
							</div>
							<div class="py-4">
								<div class="btn-toolbar" role="toolbar">
									<div class="btn-group">
										<button class="btn btn-primary font-weight-bold btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Small button</button>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="#">Action</a>
											<a class="dropdown-item" href="#">Another action</a>
											<a class="dropdown-item" href="#">Something else here</a>
											<div class="dropdown-divider"></div>
											<a class="dropdown-item" href="#">Separated link</a>
										</div>
									</div>
									<!-- /btn-group-->
									<div class="btn-group ml-2">
										<button type="button" class="btn btn-sm btn-light-primary font-weight-bold">Small split button</button>
										<button type="button" class="btn btn-sm btn-light-primary font-weight-bold dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<span class="sr-only">Toggle Dropdown</span>
										</button>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="#">Action</a>
											<a class="dropdown-item" href="#">Another action</a>
											<a class="dropdown-item" href="#">Something else here</a>
											<div class="dropdown-divider"></div>
											<a class="dropdown-item" href="#">Separated link</a>
										</div>
									</div>
									<!-- /btn-group-->
								</div>
							</div>
						</div>
						<div class="example-code">
							<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
							<div class="example-highlight">
								<pre>
<code class="language-html">
						&lt;div class="btn-group"&gt;
							&lt;button class="btn btn-primary font-weight-bold btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"&gt;
								Large button
							&lt;/button&gt;
							&lt;div class="dropdown-menu"&gt;
								...
							&lt;/div&gt;
						&lt;/div&gt;

						&lt;div class="btn-group"&gt;
							&lt;button class="btn btn-primary font-weight-bold btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"&gt;
								Small button
							&lt;/button&gt;
							&lt;div class="dropdown-menu"&gt;
								...
							&lt;/div&gt;
						&lt;/div&gt;</code>
</pre>
							</div>
						</div>
					</div>
					<!--end::Example-->
				</div>
			</div>
			<!--end::Card-->
		</div>
		<div class="col-xl-6">
			<!--begin::Card-->
			<div class="card card-custom gutter-b">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">Direction</h3>
					</div>
				</div>
				<div class="card-body">
					<!--begin::Example-->
					<div class="example mb-15">
						<h5 class="text-dark">Dropup</h5>
						<p>
							Trigger dropdown menus above element by adding
							<code>.dropup</code>to the parent element.
						</p>
						<div class="example-preview">
							<div class="btn-group dropup">
								<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropup</button>
								<div class="dropdown-menu" style="">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#">Separated link</a>
								</div>
							</div>
							<div class="btn-group dropup">
								<button type="button" class="btn btn-primary">Split dropup</button>
								<button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class="sr-only">Toggle Dropdown</span>
								</button>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#">Separated link</a>
								</div>
							</div>
						</div>
						<div class="example-code">
							<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
							<div class="example-highlight">
								<pre>
<code class="language-html">
						&lt;div class="btn-group dropup"&gt;
							&lt;button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"&gt;
								Dropup
							&lt;/button&gt;
							&lt;div class="dropdown-menu"&gt;
								...
							&lt;/div&gt;
						&lt;/div&gt;</code>
</pre>
							</div>
						</div>
					</div>
					<!--end::Example-->
					<!--begin::Example-->
					<div class="example mb-15">
						<h5 class="text-dark">Dropright</h5>
						<p>
							Trigger dropdown menus at the right of the element by adding
							<code>.dropright</code>to the parent element.
						</p>
						<div class="example-preview">
							<div class="btn-group dropright">
								<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropup</button>
								<div class="dropdown-menu" style="">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#">Separated link</a>
								</div>
							</div>
							<div class="btn-group dropright">
								<button type="button" class="btn btn-primary">Split dropup</button>
								<button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class="sr-only">Toggle Dropdown</span>
								</button>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#">Separated link</a>
								</div>
							</div>
						</div>
						<div class="example-code">
							<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
							<div class="example-highlight">
								<pre>
<code class="language-html">
						&lt;div class="btn-group dropright"&gt;
							&lt;button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"&gt;
								Dropup
							&lt;/button&gt;
							&lt;div class="dropdown-menu"&gt;
								...
							&lt;/div&gt;
						&lt;/div&gt;</code>
</pre>
							</div>
						</div>
					</div>
					<!--end::Example-->
					<!--begin::Example-->
					<div class="example">
						<h5 class="text-dark">Dropleft</h5>
						<p>
							Trigger dropdown menus at the left of the element by adding
							<code>.dropleft</code>to the parent element.
						</p>
						<div class="example-preview">
							<div class="btn-group dropleft">
								<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropup</button>
								<div class="dropdown-menu" style="">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#">Separated link</a>
								</div>
							</div>
							<div class="btn-group dropleft">
								<button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class="sr-only">Toggle Dropdown</span>
								</button>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#">Separated link</a>
								</div>
								<button type="button" class="btn btn-primary">Split dropup</button>
							</div>
						</div>
						<div class="example-code">
							<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
							<div class="example-highlight">
								<pre>
<code class="language-html">
						&lt;div class="btn-group dropleft"&gt;
							&lt;button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"&gt;
								Dropup
							&lt;/button&gt;
							&lt;div class="dropdown-menu"&gt;
								...
							&lt;/div&gt;
						&lt;/div&gt;</code>
</pre>
							</div>
						</div>
					</div>
					<!--end::Example-->
				</div>
			</div>
			<!--end::Card-->
			<!--begin::Card-->
			<div class="card card-custom gutter-b">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">Forms</h3>
					</div>
				</div>
				<div class="card-body">
					<!--begin::Example-->
					<div class="example">
						<p>Put a form within a dropdown menu, or make it into a dropdown menu, and use margin or padding utilities to give it the negative space you require.</p>
						<div class="example-preview">
							<div class="btn-group">
								<button class="btn btn-primary font-weight-bold btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Form example</button>
								<div class="dropdown-menu dropdown-menu-lg">
									<form class="px-8 py-8">
										<div class="form-group">
											<label for="exampleDropdownFormEmail1">Email address</label>
											<input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com" />
										</div>
										<div class="form-group">
											<label for="exampleDropdownFormPassword1">Password</label>
											<input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password" />
										</div>
										<div class="form-group">
											<label class="checkbox">
												<input type="checkbox" />Remember me
												<span></span>
											</label>
										</div>
										<button type="submit" class="btn btn-primary">Sign in</button>
									</form>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item px-8" href="#">New around here? Sign up</a>
									<a class="dropdown-item px-8" href="#">Forgot password?</a>
								</div>
							</div>
						</div>
						<div class="example-code">
							<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
							<div class="example-highlight">
								<pre>
<code class="language-html">
						&lt;div class="btn-group"&gt;
							&lt;button class="btn btn-primary font-weight-bold btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"&gt;
								Form example
							&lt;/button&gt;
							&lt;div class="dropdown-menu dropdown-menu-lg"&gt;
								&lt;form class="px-8 py-8"&gt;
									&lt;div class="form-group"&gt;
										&lt;label for="exampleDropdownFormEmail1"&gt;Email address&lt;/label&gt;
										&lt;input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com"&gt;
									&lt;/div&gt;
									&lt;div class="form-group"&gt;
										&lt;label for="exampleDropdownFormPassword1"&gt;Password&lt;/label&gt;
										&lt;input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password"&gt;
									&lt;/div&gt;
									&lt;div class="form-group"&gt;
										&lt;label class="checkbox"&gt;
											&lt;input type="checkbox"/&gt; Remember me
											&lt;span&gt;&lt;/span&gt;
										&lt;/label&gt;
									&lt;/div&gt;
									&lt;button type="submit" class="btn btn-primary"&gt;Sign in&lt;/button&gt;
								&lt;/form&gt;
								&lt;div class="dropdown-divider"&gt;&lt;/div&gt;
								&lt;a class="dropdown-item px-8" href="#"&gt;New around here? Sign up&lt;/a&gt;
								&lt;a class="dropdown-item px-8" href="#"&gt;Forgot password?&lt;/a&gt;
							&lt;/div&gt;
						&lt;/div&gt;</code>
</pre>
							</div>
						</div>
					</div>
					<!--end::Example-->
				</div>
			</div>
			<!--end::Card-->
			<!--begin::Card-->
			<div class="card card-custom">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">Dropdown options</h3>
					</div>
				</div>
				<div class="card-body">
					<!--begin::Example-->
					<div class="example">
						<p>
							Use
							<code>data-offset</code>or
							<code>data-reference</code>to change the location of the dropdown.
						</p>
						<div class="example-preview">
							<div class="d-flex">
								<div class="dropdown mr-1">
									<button type="button" class="btn btn-outline-secondary dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">Offset</button>
									<div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
										<a class="dropdown-item" href="#">Action</a>
										<a class="dropdown-item" href="#">Another action</a>
										<a class="dropdown-item" href="#">Something else here</a>
									</div>
								</div>
								<div class="btn-group">
									<button type="button" class="btn btn-outline-secondary">Reference</button>
									<button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
										<span class="sr-only">Toggle Dropdown</span>
									</button>
									<div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
										<a class="dropdown-item" href="#">Action</a>
										<a class="dropdown-item" href="#">Another action</a>
										<a class="dropdown-item" href="#">Something else here</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" href="#">Separated link</a>
									</div>
								</div>
							</div>
						</div>
						<div class="example-code">
							<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
							<div class="example-highlight">
								<pre>
<code class="language-html">
						&lt;div class="dropdown mr-1"&gt;
							&lt;button type="button" class="btn btn-outline-secondary dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20"&gt;
								Offset
							&lt;/button&gt;
							&lt;div class="dropdown-menu" aria-labelledby="dropdownMenuOffset"&gt;
								...
							&lt;/div&gt;
						&lt;/div&gt;
						&lt;div class="btn-group"&gt;
							&lt;button type="button" class="btn btn-outline-secondary"&gt;Reference&lt;/button&gt;
							&lt;button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent"&gt;
								&lt;span class="sr-only"&gt;Toggle Dropdown&lt;/span&gt;
							&lt;/button&gt;
							&lt;div class="dropdown-menu" aria-labelledby="dropdownMenuReference"&gt;
								...
							&lt;/div&gt;
						&lt;/div&gt;</code>
</pre>
							</div>
						</div>
					</div>
					<!--end::Example-->
				</div>
			</div>
			<!--end::Card-->
		</div>
	</div>
	<!--end::Row-->
</div>
<!--end::Container-->