@{
	ViewBag.Title = "FlotCharts";
    Layout = "_LayoutFeatures";
}

<!--begin::Container-->
<div class="container">
	
	<!--begin::Row-->
	<div class="row">
		<div class="col-lg-12">
			<!--begin::Card-->
			<div class="card card-custom gutter-b">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">Basic Chart</h3>
					</div>
				</div>
				<div class="card-body">
					<div id="kt_flotcharts_1" style="height: 300px;"></div>
				</div>
			</div>
			<!--end::Card-->
			<!--begin::Card-->
			<div class="card card-custom gutter-b">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">Axis Labels</h3>
					</div>
				</div>
				<div class="card-body">
					<div id="kt_flotcharts_2" style="height: 300px;"></div>
				</div>
			</div>
			<!--end::Card-->
			<!--begin::Card-->
			<div class="card card-custom gutter-b">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">Tracking Curves</h3>
					</div>
				</div>
				<div class="card-body">
					<div id="kt_flotcharts_3" style="height: 300px;"></div>
				</div>
			</div>
			<!--end::Card-->
			<!--begin::Card-->
			<div class="card card-custom gutter-b">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">Dynamic Chart</h3>
					</div>
				</div>
				<div class="card-body">
					<div id="kt_flotcharts_4" style="height: 300px;"></div>
				</div>
			</div>
			<!--end::Card-->
			<!--begin::Card-->
			<div class="card card-custom gutter-b">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">Stack Chart Controls</h3>
					</div>
				</div>
				<div class="card-body">
					<div id="kt_flotcharts_5" style="height:350px;"></div>
					<div class="btn-toolbar my-10">
						<div class="btn-group stackControls">
							<input type="button" class="btn btn-success" value="With stacking" />
							<input type="button" class="btn btn-danger" value="Without stacking" />
						</div>&#160;&#160;&#160;
						<div class="btn-group graphControls">
							<input type="button" class="btn btn-primary" value="Bars" />
							<input type="button" class="btn btn-primary" value="Lines" />
							<input type="button" class="btn btn-warning" value="Lines with steps" />
						</div>
					</div>
				</div>
			</div>
			<!--end::Card-->
			<!--begin::Card-->
			<div class="card card-custom gutter-b">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">Interactive Chart</h3>
					</div>
				</div>
				<div class="card-body">
					<div id="kt_flotcharts_6" style="height: 300px;"></div>
				</div>
			</div>
			<!--end::Card-->
			<!--begin::Card-->
			<div class="card card-custom gutter-b">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">Bar Chart</h3>
					</div>
				</div>
				<div class="card-body">
					<div id="kt_flotcharts_7" style="height: 300px;"></div>
				</div>
			</div>
			<!--end::Card-->
		</div>
	</div>
	<!--end::Row-->
	<!--begin::Row-->
	<div class="row">
		<div class="col-lg-6">
			<!--begin::Card-->
			<div class="card card-custom gutter-b">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">Pie Chart 1</h3>
					</div>
				</div>
				<div class="card-body">
					<div id="kt_flotcharts_8" style="height: 300px;"></div>
				</div>
			</div>
			<!--end::Card-->
			<!--begin::Card-->
			<div class="card card-custom gutter-b">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">Pie Chart 3</h3>
					</div>
				</div>
				<div class="card-body">
					<div id="kt_flotcharts_9" style="height: 300px;"></div>
				</div>
			</div>
			<!--end::Card-->
		</div>
		<div class="col-lg-6">
			<!--begin::Card-->
			<div class="card card-custom gutter-b">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">Pie Chart 2</h3>
					</div>
				</div>
				<div class="card-body">
					<div id="kt_flotcharts_10" style="height: 300px;"></div>
				</div>
			</div>
			<!--end::Card-->
			<!--begin::Card-->
			<div class="card card-custom gutter-b">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">Pie Chart 4</h3>
					</div>
				</div>
				<div class="card-body">
					<p>Slightly more transparent label backgrounds and adjusted the radius values to place them within the pie.</p>
					<div id="kt_flotcharts_11" style="height: 300px;"></div>
				</div>
			</div>
			<!--end::Card-->
		</div>
	</div>
	<!--end::Row-->
</div>
<!--end::Container-->