@{
	ViewBag.Title = "GeneralCards";
    Layout = "_LayoutFeatures";
}

<!--begin::Container-->
<div class="container">
	
	<!--begin::Row-->
	<div class="row">
		<div class="col-lg-6">
			<!--begin::Example-->
			<!--begin::Card-->
			<div class="card card-custom">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">
							Basic Card
							<small>sub title</small>
						</h3>
					</div>
				</div>
				<div class="card-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</div>
			</div>
			<!--end::Card-->
			<!--begin::Code example-->
			<div class="example example-compact mt-2 gutter-b">
				<div class="example-tools">
					<span class="example-toggle" data-toggle="tooltip" title="View code"></span>
					<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
				</div>
				<div class="example-code">
					<div class="example-highlight">
						<pre>
<code class="language-html">
				&lt;div class="card card-custom gutter-b"&gt;
				 &lt;div class="card-header"&gt;
				  &lt;div class="card-title"&gt;
				   &lt;h3 class="card-label"&gt;
					Basic Card
					&lt;small&gt;sub title&lt;/small&gt;
				   &lt;/h3&gt;
				  &lt;/div&gt;
				 &lt;/div&gt;
				 &lt;div class="card-body"&gt;
				  ...
				 &lt;/div&gt;
				&lt;/div&gt;
				</code>
</pre>
					</div>
				</div>
			</div>
			<!--end::Code example-->
			<!--end::Example-->
			<!--begin::Example-->
			<!--begin::Card-->
			<div class="card card-custom">
				<div class="card-header">
					<div class="card-title">
						<span class="card-icon">
							<i class="flaticon2-line-chart text-primary"></i>
						</span>
						<h3 class="card-label">
							Card Icon
							<small>sub title</small>
						</h3>
					</div>
				</div>
				<div class="card-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</div>
			</div>
			<!--end::Card-->
			<!--begin::Code example-->
			<div class="example example-compact mt-2 gutter-b">
				<div class="example-tools">
					<span class="example-toggle" data-toggle="tooltip" title="View code"></span>
					<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
				</div>
				<div class="example-code">
					<div class="example-highlight">
						<pre>
<code class="language-html">
				&lt;div class="card card-custom gutter-b"&gt;
				 &lt;div class="card-header"&gt;
				  &lt;div class="card-title"&gt;
				   &lt;h3 class="card-label"&gt;
					Basic Card
					&lt;small&gt;sub title&lt;/small&gt;
				   &lt;/h3&gt;
				  &lt;/div&gt;
				 &lt;/div&gt;
				 &lt;div class="card-body"&gt;
				  ...
				 &lt;/div&gt;
				&lt;/div&gt;
				</code>
</pre>
					</div>
				</div>
			</div>
			<!--end::Code example-->
			<!--end::Example-->
			<!--begin::Example-->
			<!--begin::Card-->
			<div class="card card-custom">
				<div class="card-header">
					<div class="card-title">
						<span class="card-icon">
							<i class="flaticon2-chat-1 text-primary"></i>
						</span>
						<h3 class="card-label">
							Card Toolbar
							<small>sub title</small>
						</h3>
					</div>
					<div class="card-toolbar">
						<a href="#" class="btn btn-sm btn-icon btn-light-danger mr-2">
							<i class="flaticon2-drop"></i>
						</a>
						<a href="#" class="btn btn-sm btn-icon btn-light-success mr-2">
							<i class="flaticon2-gear"></i>
						</a>
						<a href="#" class="btn btn-sm btn-icon btn-light-primary">
							<i class="flaticon2-bell-2"></i>
						</a>
					</div>
				</div>
				<div class="card-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</div>
			</div>
			<!--end::Card-->
			<!--begin::Code example-->
			<div class="example example-compact mt-2 gutter-b">
				<div class="example-tools">
					<span class="example-toggle" data-toggle="tooltip" title="View code"></span>
					<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
				</div>
				<div class="example-code">
					<div class="example-highlight">
						<pre>
<code class="language-html">
				&lt;div class="card card-custom gutter-b"&gt;
				 &lt;div class="card-header"&gt;
				  &lt;div class="card-title"&gt;
				   &lt;h3 class="card-label"&gt;
					Basic Card
					&lt;small&gt;sub title&lt;/small&gt;
				   &lt;/h3&gt;
				  &lt;/div&gt;
				 &lt;/div&gt;
				 &lt;div class="card-body"&gt;
				  ...
				 &lt;/div&gt;
				&lt;/div&gt;
				</code>
</pre>
					</div>
				</div>
			</div>
			<!--end::Code example-->
			<!--end::Example-->
			<!--begin::Example-->
			<!--begin::Card-->
			<div class="card card-custom">
				<div class="card-header">
					<div class="card-title">
						<span class="card-icon">
							<i class="flaticon-graphic-2 text-primary"></i>
						</span>
						<h3 class="card-label">
							Dropdown Example
							<small>sub title</small>
						</h3>
					</div>
					<div class="card-toolbar">
						<div class="dropdown dropdown-inline" data-toggle="tooltip" title="Quick actions" data-placement="left">
							<a href="#" class="btn btn-hover-light-primary btn-sm btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="ki ki-bold-more-hor"></i>
							</a>
							<div class="dropdown-menu p-0 m-0 dropdown-menu-md dropdown-menu-right">
								<!--begin::Navigation-->
								<ul class="navi navi-hover">
									<li class="navi-header font-weight-bold py-4">
										<span class="font-size-lg">Choose Label:</span>
										<i class="flaticon2-information icon-md text-muted" data-toggle="tooltip" data-placement="right" title="Click to learn more..."></i>
									</li>
									<li class="navi-separator mb-3 opacity-70"></li>
									<li class="navi-item">
										<a href="#" class="navi-link">
											<span class="navi-text">
												<span class="label label-xl label-inline label-light-success">Customer</span>
											</span>
										</a>
									</li>
									<li class="navi-item">
										<a href="#" class="navi-link">
											<span class="navi-text">
												<span class="label label-xl label-inline label-light-danger">Partner</span>
											</span>
										</a>
									</li>
									<li class="navi-item">
										<a href="#" class="navi-link">
											<span class="navi-text">
												<span class="label label-xl label-inline label-light-warning">Suplier</span>
											</span>
										</a>
									</li>
									<li class="navi-item">
										<a href="#" class="navi-link">
											<span class="navi-text">
												<span class="label label-xl label-inline label-light-primary">Member</span>
											</span>
										</a>
									</li>
									<li class="navi-item">
										<a href="#" class="navi-link">
											<span class="navi-text">
												<span class="label label-xl label-inline label-light-dark">Staff</span>
											</span>
										</a>
									</li>
									<li class="navi-separator mt-3 opacity-70"></li>
									<li class="navi-footer py-4">
										<a class="btn btn-clean font-weight-bold btn-sm" href="#">
											<i class="ki ki-plus icon-sm"></i>Add new
										</a>
									</li>
								</ul>
								<!--end::Navigation-->
							</div>
						</div>
					</div>
				</div>
				<div class="card-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</div>
			</div>
			<!--end::Card-->
			<!--begin::Code example-->
			<div class="example example-compact mt-2 gutter-b">
				<div class="example-tools">
					<span class="example-toggle" data-toggle="tooltip" title="View code"></span>
					<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
				</div>
				<div class="example-code">
					<div class="example-highlight">
						<pre>
<code class="language-html">
				&lt;div class="card card-custom gutter-b"&gt;
				 &lt;div class="card-header"&gt;
				  &lt;div class="card-title"&gt;
				   &lt;h3 class="card-label"&gt;
					Basic Card
					&lt;small&gt;sub title&lt;/small&gt;
				   &lt;/h3&gt;
				  &lt;/div&gt;
				 &lt;/div&gt;
				 &lt;div class="card-body"&gt;
				  ...
				 &lt;/div&gt;
				&lt;/div&gt;
				</code>
</pre>
					</div>
				</div>
			</div>
			<!--end::Code example-->
			<!--end::Example-->
			<!--begin::Example-->
			<div class="bg-white rounded p-10">
				<!--begin::Card-->
				<div class="card card-custom card-border">
					<div class="card-header">
						<div class="card-title">
							<span class="card-icon">
								<i class="flaticon2-mail text-primary"></i>
							</span>
							<h3 class="card-label">
								Bordered Style
								<small>sub title</small>
							</h3>
						</div>
						<div class="card-toolbar">
							<a href="#" class="btn btn-xs btn-icon btn-danger mr-2">
								<i class="flaticon2-drop"></i>
							</a>
							<a href="#" class="btn btn-xs btn-icon btn-success mr-2">
								<i class="flaticon2-gear"></i>
							</a>
							<a href="#" class="btn btn-xs btn-icon btn-primary">
								<i class="flaticon2-bell-2"></i>
							</a>
						</div>
					</div>
					<div class="card-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</div>
				</div>
				<!--end::Card-->
			</div>
			<!--begin::Code example-->
			<div class="example example-compact mt-2 gutter-b">
				<div class="example-tools">
					<span class="example-toggle" data-toggle="tooltip" title="View code"></span>
					<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
				</div>
				<div class="example-code">
					<div class="example-highlight">
						<pre>
<code class="language-html">
				&lt;div class="card card-custom gutter-b"&gt;
				 &lt;div class="card-header"&gt;
				  &lt;div class="card-title"&gt;
				   &lt;h3 class="card-label"&gt;
					Basic Card
					&lt;small&gt;sub title&lt;/small&gt;
				   &lt;/h3&gt;
				  &lt;/div&gt;
				 &lt;/div&gt;
				 &lt;div class="card-body"&gt;
				  ...
				 &lt;/div&gt;
				&lt;/div&gt;
				</code>
</pre>
					</div>
				</div>
			</div>
			<!--end::Code example-->
			<!--end::Example-->
			<!--begin::Example-->
			<div class="bg-white rounded p-10">
				<!--begin::Card-->
				<div class="card card-custom card-fit card-border">
					<div class="card-header">
						<div class="card-title">
							<span class="card-icon">
								<i class="flaticon2-pin text-primary"></i>
							</span>
							<h3 class="card-label">
								Semi-bordered Style
								<small>sub title</small>
							</h3>
						</div>
						<div class="card-toolbar">
							<a href="#" class="btn btn-sm btn-primary font-weight-bold">
								<i class="flaticon2-gear"></i>Settings
							</a>
						</div>
					</div>
					<div class="card-body pt-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</div>
				</div>
				<!--end::Card-->
			</div>
			<!--begin::Code example-->
			<div class="example example-compact mt-2 gutter-b">
				<div class="example-tools">
					<span class="example-toggle" data-toggle="tooltip" title="View code"></span>
					<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
				</div>
				<div class="example-code">
					<div class="example-highlight">
						<pre>
<code class="language-html">
				&lt;div class="card card-custom gutter-b"&gt;
				 &lt;div class="card-header"&gt;
				  &lt;div class="card-title"&gt;
				   &lt;h3 class="card-label"&gt;
					Basic Card
					&lt;small&gt;sub title&lt;/small&gt;
				   &lt;/h3&gt;
				  &lt;/div&gt;
				 &lt;/div&gt;
				 &lt;div class="card-body"&gt;
				  ...
				 &lt;/div&gt;
				&lt;/div&gt;
				</code>
</pre>
					</div>
				</div>
			</div>
			<!--end::Code example-->
			<!--end::Example-->
		</div>
		<div class="col-lg-6">
			<!--begin::Example-->
			<!--begin::Card-->
			<div class="card card-custom">
				<div class="card-header">
					<div class="card-title">
						<span class="card-icon">
							<i class="flaticon2-chat-1 text-primary"></i>
						</span>
						<h3 class="card-label">
							Card Footer
							<small>sub title</small>
						</h3>
					</div>
					<div class="card-toolbar">
						<a href="#" class="btn btn-sm btn-success font-weight-bold">
							<i class="flaticon2-cube"></i>Reports
						</a>
					</div>
				</div>
				<div class="card-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</div>
				<div class="card-footer d-flex justify-content-between">
					<a href="#" class="btn btn-light-primary font-weight-bold">Manage</a>
					<a href="#" class="btn btn-outline-secondary font-weight-bold">Learn more</a>
				</div>
			</div>
			<!--end::Card-->
			<!--begin::Code example-->
			<div class="example example-compact mt-2 gutter-b">
				<div class="example-tools">
					<span class="example-toggle" data-toggle="tooltip" title="View code"></span>
					<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
				</div>
				<div class="example-code">
					<div class="example-highlight">
						<pre>
<code class="language-html">
				&lt;div class="card card-custom"&gt;
				 &lt;div class="card-header"&gt;
				  &lt;div class="card-title"&gt;
							&lt;span class="card-icon"&gt;
								&lt;i class="flaticon2-chat-1 text-primary"&gt;&lt;/i&gt;
							&lt;/span&gt;
				   &lt;h3 class="card-label"&gt;
					Card Footer
					&lt;small&gt;sub title&lt;/small&gt;
				   &lt;/h3&gt;
				  &lt;/div&gt;
						&lt;div class="card-toolbar"&gt;
							&lt;a href="#" class="btn btn-sm btn-success font-weight-bold"&gt;
								&lt;i class="flaticon2-cube"&gt;&lt;/i&gt; Reports
							&lt;/a&gt;
						&lt;/div&gt;
				 &lt;/div&gt;
				 &lt;div class="card-body"&gt;
				  ...
				 &lt;/div&gt;
					&lt;div class="card-footer d-flex justify-content-between"&gt;
						&lt;a href="#" class="btn btn-light-primary font-weight-bold"&gt;Manage&lt;/a&gt;
						&lt;a href="#" class="btn btn-outline-secondary font-weight-bold"&gt;Learn more&lt;/a&gt;
				 &lt;/div&gt;
				&lt;/div&gt;
				</code>
</pre>
					</div>
				</div>
			</div>
			<!--end::Code example-->
			<!--end::Example-->
			<!--begin::Example-->
			<!--begin::Card-->
			<div class="card card-custom">
				<div class="card-header">
					<div class="card-title">
						<span class="card-icon">
							<i class="flaticon2-chat-1 text-primary"></i>
						</span>
						<h3 class="card-label">Scrollable Content</h3>
					</div>
					<div class="card-toolbar">
						<a href="#" class="btn btn-sm btn-light-primary font-weight-bold">
							<i class="flaticon2-cube"></i>Settings
						</a>
					</div>
				</div>
				<div class="card-body">
					<div data-scroll="true" data-height="200">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
					</div>
				</div>
				<div class="card-footer d-flex justify-content-between">
					<a href="#" class="btn btn-light-primary font-weight-bold">Manage</a>
					<a href="#" class="btn btn-outline-secondary font-weight-bold">Learn more</a>
				</div>
			</div>
			<!--end::Card-->
			<!--begin::Code example-->
			<div class="example example-compact mt-2 gutter-b">
				<div class="example-tools">
					<span class="example-toggle" data-toggle="tooltip" title="View code"></span>
					<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
				</div>
				<div class="example-code">
					<div class="example-highlight">
						<pre>
<code class="language-html">
				&lt;div class="card card-custom"&gt;
				 &lt;div class="card-header"&gt;
				  &lt;div class="card-title"&gt;
							&lt;span class="card-icon"&gt;
								&lt;i class="flaticon2-chat-1 text-primary"&gt;&lt;/i&gt;
							&lt;/span&gt;
				   &lt;h3 class="card-label"&gt;
					Scrollable Content
				   &lt;/h3&gt;
				  &lt;/div&gt;
						&lt;div class="card-toolbar"&gt;
							&lt;a href="#" class="btn btn-sm btn-light-primary font-weight-bold"&gt;
								&lt;i class="flaticon2-cube"&gt;&lt;/i&gt; Settings
							&lt;/a&gt;
						&lt;/div&gt;
				 &lt;/div&gt;
				 &lt;div class="card-body"&gt;
						&lt;div data-scroll="true" data-height="200"&gt;
					  ....
						&lt;/div&gt;
				 &lt;/div&gt;
					&lt;div class="card-footer d-flex justify-content-between"&gt;
						&lt;a href="#" class="btn btn-light-primary font-weight-bold"&gt;Manage&lt;/a&gt;
						&lt;a href="#" class="btn btn-outline-secondary font-weight-bold"&gt;Learn more&lt;/a&gt;
				 &lt;/div&gt;
				&lt;/div&gt;
				</code>
</pre>
					</div>
				</div>
			</div>
			<!--end::Code example-->
			<!--end::Example-->
			<!--begin::Example-->
			<!--begin::Card-->
			<div class="card card-custom bg-primary">
				<div class="card-header border-0">
					<div class="card-title">
						<span class="card-icon">
							<i class="flaticon2-chat-1 text-white"></i>
						</span>
						<h3 class="card-label text-white">Primary Background Color</h3>
					</div>
					<div class="card-toolbar">
						<a href="#" class="btn btn-sm btn-white">
							<i class="flaticon2-cube"></i>Settings
						</a>
					</div>
				</div>
				<div class="separator separator-solid separator-white opacity-20"></div>
				<div class="card-body text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</div>
			</div>
			<!--end::Card-->
			<!--begin::Code example-->
			<div class="example example-compact mt-2 gutter-b">
				<div class="example-tools">
					<span class="example-toggle" data-toggle="tooltip" title="View code"></span>
					<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
				</div>
				<div class="example-code">
					<div class="example-highlight">
						<pre>
<code class="language-html">
				&lt;div class="card card-custom bg-primary"&gt;
				 &lt;div class="card-header border-0"&gt;
				  &lt;div class="card-title"&gt;
							&lt;span class="card-icon"&gt;
								&lt;i class="flaticon2-chat-1 text-white"&gt;&lt;/i&gt;
							&lt;/span&gt;
				   &lt;h3 class="card-label text-white"&gt;
					Primary Background Color
				   &lt;/h3&gt;
				  &lt;/div&gt;
						&lt;div class="card-toolbar"&gt;
							&lt;a href="#" class="btn btn-sm btn-white"&gt;
								&lt;i class="flaticon2-cube"&gt;&lt;/i&gt; Settings
							&lt;/a&gt;
						&lt;/div&gt;
				 &lt;/div&gt;
					&lt;div class="separator separator-solid separator-white opacity-20"&gt;&lt;/div&gt;
				 &lt;div class="card-body text-white"&gt;
						...
					&lt;/div&gt;
				&lt;/div&gt;
				</code>
</pre>
					</div>
				</div>
			</div>
			<!--end::Code example-->
			<!--end::Example-->
			<!--begin::Example-->
			<!--begin::Card-->
			<div class="card card-custom bg-danger">
				<div class="card-header border-0">
					<div class="card-title">
						<span class="card-icon">
							<i class="flaticon2-chat-1 text-white"></i>
						</span>
						<h3 class="card-label text-white">Danger Background Color</h3>
					</div>
					<div class="card-toolbar">
						<a href="#" class="btn btn-sm btn-white font-weight-bold">
							<i class="flaticon2-cube"></i>Settings
						</a>
					</div>
				</div>
				<div class="separator separator-solid separator-white opacity-20"></div>
				<div class="card-body text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</div>
			</div>
			<!--end::Card-->
			<!--begin::Code example-->
			<div class="example example-compact mt-2 gutter-b">
				<div class="example-tools">
					<span class="example-toggle" data-toggle="tooltip" title="View code"></span>
					<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
				</div>
				<div class="example-code">
					<div class="example-highlight">
						<pre>
<code class="language-html">

				</code>
</pre>
					</div>
				</div>
			</div>
			<!--end::Code example-->
			<!--end::Example-->
			<!--begin::Example-->
			<!--begin::Card-->
			<div class="card card-custom bg-success">
				<div class="card-header border-0">
					<div class="card-title">
						<span class="card-icon">
							<i class="flaticon2-chat-1 text-white"></i>
						</span>
						<h3 class="card-label text-white">Success Background Color</h3>
					</div>
					<div class="card-toolbar">
						<a href="#" class="btn btn-sm btn-white font-weight-bold">
							<i class="flaticon2-cube"></i>Settings
						</a>
					</div>
				</div>
				<div class="separator separator-solid separator-white opacity-20"></div>
				<div class="card-body text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</div>
			</div>
			<!--end::Card-->
			<!--begin::Code example-->
			<div class="example example-compact mt-2 gutter-b">
				<div class="example-tools">
					<span class="example-toggle" data-toggle="tooltip" title="View code"></span>
					<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
				</div>
				<div class="example-code">
					<div class="example-highlight">
						<pre>
<code class="language-html">
				&lt;div class="card card-custom bg-success"&gt;
				 &lt;div class="card-header border-0"&gt;
				  &lt;div class="card-title"&gt;
							&lt;span class="card-icon"&gt;
								&lt;i class="flaticon2-chat-1 text-white"&gt;&lt;/i&gt;
							&lt;/span&gt;
				   &lt;h3 class="card-label text-white"&gt;
					Success Background Color
				   &lt;/h3&gt;
				  &lt;/div&gt;
						&lt;div class="card-toolbar"&gt;
							&lt;a href="#" class="btn btn-sm btn-white font-weight-bold"&gt;
								&lt;i class="flaticon2-cube"&gt;&lt;/i&gt; Settings
							&lt;/a&gt;
						&lt;/div&gt;
				 &lt;/div&gt;
					&lt;div class="separator separator-solid separator-white opacity-20"&gt;&lt;/div&gt;
				 &lt;div class="card-body text-white"&gt;
						...
					&lt;/div&gt;
				&lt;/div&gt;
				</code>
</pre>
					</div>
				</div>
			</div>
			<!--end::Code example-->
			<!--end::Example-->
		</div>
	</div>
	<!--end::Row-->
</div>
<!--end::Container-->