@{
    ViewBag.Title = "التاريخ الهجري";
}
<div class="container">
    <div class="py-5 text-center">
        <h2>التاريخ الهجري</h2>
        <p class="lead">

        </p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>
                    التاريخ الهجري
                </label>
                <div class="input-group">
                    <input type="text" class="form-control hijri-date-input">
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label>
                    التاريخ الميلادي
                </label>
                <div class="input-group">
                    <input type="text" class="form-control disable-date" />
                </div>
            </div>
        </div>
    </div>
</div>