@{
	ViewBag.Title = "Label";
    Layout = "_LayoutFeatures";
}

<!--begin::Container-->
<div class="container">	
	<!--begin::Row-->
	<div class="row">
		<div class="col-xl-6">
			<!--begin::Card-->
			<div class="card card-custom gutter-b">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">Base Examples</h3>
					</div>
				</div>
				<div class="card-body">
					<!--begin::Example-->
					<div class="example mb-10">
						<p>Default label examples.</p>
						<div class="example-preview">
							<span class="label mr-2">1</span>
							<span class="label mr-2">2</span>
							<span class="label mr-2">5</span>
							<span class="label mr-2">9</span>
							<span class="label mr-2">10</span>
						</div>
						<div class="example-code">
							<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
							<div class="example-highlight">
								<pre>
<code class="language-html">&lt;span class="label"&gt;1&lt;/span&gt;</code>
</pre>
							</div>
						</div>
					</div>
					<!--end::Example-->
					<!--begin::Example-->
					<div class="example mb-10">
						<p>Rounded label examples.</p>
						<div class="example-preview">
							<span class="label label-rounded mr-2">1</span>
							<span class="label label-rounded mr-2">2</span>
							<span class="label label-rounded mr-2">5</span>
							<span class="label label-rounded mr-2">9</span>
							<span class="label label-rounded mr-2">10</span>
						</div>
						<div class="example-code">
							<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
							<div class="example-highlight">
								<pre>
<code class="language-html">&lt;span class="label label-rounded"&gt;10&lt;/span&gt;</code>
</pre>
							</div>
						</div>
					</div>
					<!--end::Example-->
					<!--begin::Example-->
					<div class="example mb-10">
						<p>Square label examples.</p>
						<div class="example-preview">
							<span class="label label-square mr-2">1</span>
							<span class="label label-square mr-2">2</span>
							<span class="label label-square mr-2">5</span>
							<span class="label label-square mr-2">9</span>
							<span class="label label-square mr-2">10</span>
						</div>
						<div class="example-code">
							<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
							<div class="example-highlight">
								<pre>
<code class="language-html">&lt;span class="label label-square"&gt;10&lt;/span&gt;</code>
</pre>
							</div>
						</div>
					</div>
					<!--end::Example-->
					<!--begin::Example-->
					<div class="example mb-10">
						<p>Inline label examples.</p>
						<div class="example-preview">
							<span class="label label-inline mr-2">Pending</span>
							<span class="label label-inline mr-2">Done</span>
							<span class="label label-inline mr-2">Sent</span>
							<span class="label label-inline mr-2">In process</span>
						</div>
						<div class="example-code">
							<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
							<div class="example-highlight">
								<pre>
<code class="language-html">&lt;span class="label label-inline"&gt;Pending&lt;/span&gt;</code>
</pre>
							</div>
						</div>
					</div>
					<!--end::Example-->
					<!--begin::Example-->
					<div class="example mb-10">
						<p>Pill label examples.</p>
						<div class="example-preview">
							<span class="label label-pill label-inline mr-2">Pending</span>
							<span class="label label-pill label-inline mr-2">Done</span>
							<span class="label label-pill label-inline mr-2">Sent</span>
							<span class="label label-pill label-inline mr-2">In process</span>
						</div>
						<div class="example-code">
							<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
							<div class="example-highlight">
								<pre>
<code class="language-html">&lt;span class="label label-pill label-inline"&gt;10&lt;/span&gt;</code>
</pre>
							</div>
						</div>
					</div>
					<!--end::Example-->
				</div>
			</div>
			<!--end::Card-->
			<!--begin::Card-->
			<div class="card card-custom gutter-b">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">Contextual Examples</h3>
					</div>
				</div>
				<div class="card-body">
					<!--begin::Example-->
					<div class="example mb-10">
						<p>Solid style</p>
						<div class="example-preview">
							<span class="label label-rounded label-success mr-2">3</span>
							<span class="label label-rounded label-primary mr-2">12</span>
							<span class="label label-danger mr-2">5</span>
							<span class="label label-warning mr-2">11</span>
							<span class="label label-danger label-pill label-inline mr-2">New</span>
							<span class="label label-warning label-pill label-inline mr-2">Pending</span>
							<span class="label label-dark label-inline mr-2">Done</span>
							<span class="label label-info label-inline mr-2">In process</span>
						</div>
						<div class="example-code">
							<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
							<div class="example-highlight">
								<pre>
<code class="language-html">
						&lt;span class="label label-rounded label-success mr-2"&gt;3&lt;/span&gt;
						&lt;span class="label label-rounded label-primary mr-2"&gt;12&lt;/span&gt;
						&lt;span class="label label-danger mr-2"&gt;5&lt;/span&gt;
						&lt;span class="label label-warning mr-2"&gt;11&lt;/span&gt;
						&lt;span class="label label-danger label-pill label-inline mr-2"&gt;New&lt;/span&gt;
						&lt;span class="label label-warning label-pill label-inline mr-2"&gt;Pending&lt;/span&gt;
						&lt;span class="label label-dark label-inline mr-2"&gt;Done&lt;/span&gt;
						&lt;span class="label label-info label-inline mr-2"&gt;In process&lt;/span&gt;
						</code>
</pre>
							</div>
						</div>
					</div>
					<!--end::Example-->
					<!--begin::Example-->
					<div class="example mb-10">
						<p>Outline style</p>
						<div class="example-preview">
							<span class="label label-rounded label-outline-success mr-2">3</span>
							<span class="label label-rounded label-outline-primary mr-2">12</span>
							<span class="label label-outline-danger mr-2">5</span>
							<span class="label label-outline-warning mr-2">11</span>
							<span class="label label-outline-danger label-pill label-inline mr-2">New</span>
							<span class="label label-outline-warning label-pill label-inline mr-2">Pending</span>
							<span class="label label-outline-dark label-inline mr-2">Done</span>
							<span class="label label-outline-info label-inline mr-2">In process</span>
						</div>
						<div class="example-code">
							<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
							<div class="example-highlight">
								<pre>
<code class="language-html">
						&lt;span class="label label-rounded label-success mr-2"&gt;3&lt;/span&gt;
						&lt;span class="label label-rounded label-primary mr-2"&gt;12&lt;/span&gt;
						&lt;span class="label label-danger mr-2"&gt;5&lt;/span&gt;
						&lt;span class="label label-warning mr-2"&gt;11&lt;/span&gt;
						&lt;span class="label label-danger label-pill label-inline mr-2"&gt;New&lt;/span&gt;
						&lt;span class="label label-warning label-pill label-inline mr-2"&gt;Pending&lt;/span&gt;
						&lt;span class="label label-dark label-inline mr-2"&gt;Done&lt;/span&gt;
						&lt;span class="label label-info label-inline mr-2"&gt;In process&lt;/span&gt;
						</code>
</pre>
							</div>
						</div>
					</div>
					<!--end::Example-->
					<!--begin::Example-->
					<div class="example mb-10">
						<p>Light style</p>
						<div class="example-preview">
							<span class="label label-light-success label-rounded mr-2">3</span>
							<span class="label label-light-primary label-rounded mr-2">12</span>
							<span class="label label-light-danger mr-2">5</span>
							<span class="label label-light-warning mr-2">11</span>
							<span class="label label-light-danger label-pill label-inline mr-2">New</span>
							<span class="label label-light-warning label-pill label-inline mr-2">Pending</span>
							<span class="label label-light-dark label-inline mr-2">Done</span>
							<span class="label label-light-info label-inline mr-2">In process</span>
						</div>
						<div class="example-code">
							<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
							<div class="example-highlight">
								<pre>
<code class="language-html">
						&lt;span class="label label-rounded label-success mr-2"&gt;3&lt;/span&gt;
						&lt;span class="label label-rounded label-primary mr-2"&gt;12&lt;/span&gt;
						&lt;span class="label label-danger mr-2"&gt;5&lt;/span&gt;
						&lt;span class="label label-warning mr-2"&gt;11&lt;/span&gt;
						&lt;span class="label label-danger label-pill label-inline mr-2"&gt;New&lt;/span&gt;
						&lt;span class="label label-warning label-pill label-inline mr-2"&gt;Pending&lt;/span&gt;
						&lt;span class="label label-dark label-inline mr-2"&gt;Done&lt;/span&gt;
						&lt;span class="label label-info label-inline mr-2"&gt;In process&lt;/span&gt;
						</code>
</pre>
							</div>
						</div>
					</div>
					<!--end::Example-->
				</div>
			</div>
			<!--end::Card-->
		</div>
		<div class="col-xl-6">
			<!--begin::Card-->
			<div class="card card-custom gutter-b">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">Font Weight</h3>
					</div>
				</div>
				<div class="card-body">
					<!--begin::Example-->
					<div class="example mb-10">
						<p>
							Set font weight using
							<code>.font-weight-{lighter|light|normal|bold|bolder|boldest}</code>class.
						</p>
						<div class="example-preview">
							<span class="label label-primary label-inline font-weight-lighter mr-2">Lighter</span>
							<span class="label label-primary label-inline font-weight-light mr-2">Light</span>
							<span class="label label-primary label-inline font-weight-normal mr-2">Normal</span>
							<span class="label label-primary label-inline font-weight-bold mr-2">Bold</span>
							<span class="label label-primary label-inline font-weight-bolder mr-2">Bolder</span>
							<span class="label label-primary label-inline font-weight-boldest mr-2">Boldest</span>
						</div>
						<div class="example-code">
							<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
							<div class="example-highlight">
								<pre>
<code class="language-html">
						&lt;span class="label label-primary label-inline font-weight-lighter mr-2"&gt;Lighter&lt;/span&gt;
						&lt;span class="label label-primary label-inline font-weight-light mr-2"&gt;Light&lt;/span&gt;
						&lt;span class="label label-primary label-inline font-weight-normal mr-2"&gt;Normal&lt;/span&gt;
						&lt;span class="label label-primary label-inline font-weight-bold mr-2"&gt;Bold&lt;/span&gt;
						&lt;span class="label label-primary label-inline font-weight-bolder mr-2"&gt;Bolder&lt;/span&gt;
						&lt;span class="label label-primary label-inline font-weight-boldest mr-2"&gt;Boldest&lt;/span&gt;
						</code>
</pre>
							</div>
						</div>
					</div>
					<!--end::Example-->
				</div>
			</div>
			<!--end::Card-->
			<!--begin::Card-->
			<div class="card card-custom gutter-b">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">Sizes</h3>
					</div>
				</div>
				<div class="card-body">
					<!--begin::Example-->
					<div class="example mb-10">
						<p>Label size options</p>
						<div class="example-preview">
							<div class="pt-4">
								<span class="label label-sm label-rounded label-success mr-2">3</span>
								<span class="label label-sm label-rounded label-primary mr-2">12</span>
								<span class="label label-sm label-danger mr-2">5</span>
								<span class="label label-sm label-warning mr-2">11</span>
								<span class="label label-sm label-danger label-pill label-inline mr-2">New</span>
								<span class="label label-sm label-warning label-pill label-inline mr-2">Pending</span>
								<span class="label label-sm label-dark label-inline mr-2">Done</span>
								<span class="label label-sm label-info label-inline mr-2">In process</span>
							</div>
							<div class="pt-4">
								<span class="label label-rounded label-success mr-2">3</span>
								<span class="label label-rounded label-primary mr-2">12</span>
								<span class="label label-danger mr-2">5</span>
								<span class="label label-warning mr-2">11</span>
								<span class="label label-danger label-pill label-inline mr-2">New</span>
								<span class="label label-warning label-pill label-inline mr-2">Pending</span>
								<span class="label label-dark label-inline mr-2">Done</span>
								<span class="label label-info label-inline mr-2">In process</span>
							</div>
							<div class="pt-4">
								<span class="label label-lg label-rounded label-success mr-2">3</span>
								<span class="label label-lg label-rounded label-primary mr-2">12</span>
								<span class="label label-lg label-danger mr-2">5</span>
								<span class="label label-lg label-warning mr-2">11</span>
								<span class="label label-lg label-danger label-pill label-inline mr-2">New</span>
								<span class="label label-lg label-warning label-pill label-inline mr-2">Pending</span>
								<span class="label label-lg label-dark label-inline mr-2">Done</span>
								<span class="label label-lg label-info label-inline mr-2">In process</span>
							</div>
							<div class="py-4">
								<span class="label label-xl label-rounded label-success mr-2">3</span>
								<span class="label label-xl label-rounded label-primary mr-2">12</span>
								<span class="label label-xl label-danger mr-2">5</span>
								<span class="label label-xl label-warning mr-2">11</span>
								<span class="label label-xl label-danger label-pill label-inline mr-2">New</span>
								<span class="label label-xl label-warning label-pill label-inline mr-2">Pending</span>
								<span class="label label-xl label-dark label-inline mr-2">Done</span>
								<span class="label label-xl label-info label-inline mr-2">In process</span>
							</div>
						</div>
						<div class="example-code">
							<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
							<div class="example-highlight">
								<pre>
<code class="language-html">&lt;span class="label label-sm label-rounded label-success"&gt;3&lt;/span&gt;
&lt;span class="label label-md font-weight-bold label-rounded label-success"&gt;3&lt;/span&gt;
&lt;span class="label label-lg font-weight-bolder label-rounded label-success"&gt;3&lt;/span&gt;
&lt;span class="label label-xl font-weight-boldest label-rounded label-success"&gt;3&lt;/span&gt;</code>
</pre>
							</div>
						</div>
					</div>
					<!--end::Example-->
				</div>
			</div>
			<!--end::Card-->
			<!--begin::Card-->
			<div class="card card-custom gutter-b">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">Dot Style</h3>
					</div>
				</div>
				<div class="card-body">
					<!--begin::Example-->
					<div class="example mb-10">
						<p>Font weight options</p>
						<div class="example-preview">
							<div>
								<span class="label label-sm label-dot label-success mr-2"></span>
								<span class="label label-sm label-dot label-primary mr-2"></span>
								<span class="label label-sm label-dot label-danger mr-2"></span>
								<span class="label label-sm label-dot label-warning mr-2"></span>
								<span class="label label-sm label-dot label-dark mr-2"></span>
								<span class="label label-sm label-dot label-info mr-2"></span>
							</div>
							<div class="pt-4">
								<span class="label label-dot label-success mr-2"></span>
								<span class="label label-dot label-primary mr-2"></span>
								<span class="label label-dot label-danger mr-2"></span>
								<span class="label label-dot label-warning mr-2"></span>
								<span class="label label-dot label-dark mr-2"></span>
								<span class="label label-dot label-info mr-2"></span>
							</div>
							<div class="pt-4">
								<span class="label label-lg label-dot label-success mr-2"></span>
								<span class="label label-lg label-dot label-primary mr-2"></span>
								<span class="label label-lg label-dot label-danger mr-2"></span>
								<span class="label label-lg label-dot label-warning mr-2"></span>
								<span class="label label-lg label-dot label-dark mr-2"></span>
								<span class="label label-lg label-dot label-info mr-2"></span>
							</div>
							<div class="pt-4">
								<span class="label label-xl label-dot label-success mr-2"></span>
								<span class="label label-xl label-dot label-primary mr-2"></span>
								<span class="label label-xl label-dot label-danger mr-2"></span>
								<span class="label label-xl label-dot label-warning mr-2"></span>
								<span class="label label-xl label-dot label-dark mr-2"></span>
								<span class="label label-xl label-dot label-info mr-2"></span>
							</div>
							<div class="pt-4">
								<p>
									Dot label style
									<span class="label label-sm label-dot label-success"></span>example
								</p>
								<p>
									Dot label style
									<span class="label label-dot label-primary"></span>example
								</p>
								<p>
									Dot label style
									<span class="label label-lg label-dot label-danger"></span>example
								</p>
								<p>
									Dot label style
									<span class="label label-xl label-dot label-warning"></span>example
								</p>
							</div>
						</div>
						<div class="example-code">
							<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
							<div class="example-highlight">
								<pre>
<code class="language-html">&lt;span class="label label-dot label-success"&gt;&lt;/span&gt;

Dot label style &lt;span class="label label-dot label-success"&gt;&lt;/span&gt; example</code>
</pre>
							</div>
						</div>
					</div>
					<!--end::Example-->
				</div>
			</div>
			<!--end::Card-->
			<!--begin::Card-->
			<div class="card card-custom gutter-b">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">Using In Buttons</h3>
					</div>
				</div>
				<div class="card-body">
					<!--begin::Example-->
					<div class="example mb-10">
						<p>Font weight options</p>
						<div class="example-preview">
							<p>
								<button class="btn font-weight-bold btn-primary mr-2">
									Button label
									<span class="label label-sm label-white ml-2">5</span>
								</button>
								<button class="btn font-weight-bold btn-light-success mr-2">
									Button label
									<span class="label label-danger ml-2">5</span>
								</button>
								<button class="btn font-weight-bold btn-lg btn-outline-danger">
									Button label
									<span class="label label-lg label-warning ml-2">5</span>
								</button>
							</p>
						</div>
						<div class="example-code">
							<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
							<div class="example-highlight">
								<pre>
<code class="language-html">&lt;button class="btn font-weight-bold btn-primary mr-2"&gt;Button label &lt;span class="label label-sm label-white ml-2"&gt;5&lt;/span&gt;&lt;/button&gt;
&lt;button class="btn font-weight-bold btn-light-success mr-2"&gt;Button label &lt;span class="label label-danger ml-2"&gt;5&lt;/span&gt;&lt;/button&gt;
&lt;button class="btn font-weight-bold btn-lg btn-outline-danger"&gt;Button label &lt;span class="label label-lg label-warning ml-2"&gt;5&lt;/span&gt;&lt;/button&gt;</code>
</pre>
							</div>
						</div>
					</div>
					<!--end::Example-->
				</div>
			</div>
			<!--end::Card-->
		</div>
	</div>
	<!--end::Row-->
</div>
<!--end::Container-->