@{
	ViewBag.Title = "Utilities";
    Layout = "_LayoutFeatures";
}

<!--begin::Container-->
<div class="container">	
	<!--begin::Row-->
	<div class="row">
		<div class="col-xl-6">
			<!--begin::Card-->
			<div class="card card-custom gutter-b">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">Base Examples</h3>
					</div>
				</div>
				<div class="card-body">
					<!--begin::Example-->
					<div class="example mb-10">
						<p>Default label examples.</p>
						<div class="example-preview">
							<span class="label pulse mr-10">
								<span class="position-relative">1</span>
								<span class="pulse-ring"></span>
							</span>
							<span class="label pulse mr-10">
								<span class="position-relative">2</span>
								<span class="pulse-ring"></span>
							</span>
							<span class="label pulse mr-10">
								<span class="position-relative">5</span>
								<span class="pulse-ring"></span>
							</span>
							<span class="label pulse mr-10">
								<span class="position-relative">9</span>
								<span class="pulse-ring"></span>
							</span>
							<span class="label pulse">
								<span class="position-relative">10</span>
								<span class="pulse-ring"></span>
							</span>
						</div>
						<div class="example-code">
							<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
							<div class="example-highlight">
								<pre style="height:400px">
<code class="language-html">
						&lt;span class="label pulse mr-10"&gt;
							&lt;span class="position-relative"&gt;1&lt;/span&gt;
							&lt;span class="pulse-ring"&gt;&lt;/span&gt;
						&lt;/span&gt;
						&lt;span class="label pulse mr-10"&gt;
							&lt;span class="position-relative"&gt;2&lt;/span&gt;
							&lt;span class="pulse-ring"&gt;&lt;/span&gt;
						&lt;/span&gt;
						&lt;span class="label pulse mr-10"&gt;
							&lt;span class="position-relative"&gt;5&lt;/span&gt;
							&lt;span class="pulse-ring"&gt;&lt;/span&gt;
						&lt;/span&gt;
						&lt;span class="label pulse mr-10"&gt;
							&lt;span class="position-relative"&gt;9&lt;/span&gt;
							&lt;span class="pulse-ring"&gt;&lt;/span&gt;
						&lt;/span&gt;
						&lt;span class="label pulse"&gt;
							&lt;span class="position-relative"&gt;10&lt;/span&gt;
							&lt;span class="pulse-ring"&gt;&lt;/span&gt;
						&lt;/span&gt;
						</code>
</pre>
							</div>
						</div>
					</div>
					<!--end::Example-->
					<!--begin::Example-->
					<div class="example mb-10">
						<p>
							Use
							<code>.pulse-{success|primary|danger|warning|info|dark|white|success}</code>class to have color pulse options.
						</p>
						<div class="example-preview">
							<span class="label pulse pulse-success mr-10">
								<span class="position-relative">1</span>
								<span class="pulse-ring"></span>
							</span>
							<span class="label pulse pulse-danger mr-10">
								<span class="position-relative">2</span>
								<span class="pulse-ring"></span>
							</span>
							<span class="label pulse pulse-warning mr-10">
								<span class="position-relative">5</span>
								<span class="pulse-ring"></span>
							</span>
							<span class="label pulse pulse-primary mr-10">
								<span class="position-relative">9</span>
								<span class="pulse-ring"></span>
							</span>
							<span class="label pulse pulse-info">
								<span class="position-relative">10</span>
								<span class="pulse-ring"></span>
							</span>
						</div>
						<div class="example-code">
							<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
							<div class="example-highlight">
								<pre style="height:400px">
<code class="language-html">
						&lt;span class="label pulse pulse-success mr-10"&gt;
							&lt;span class="position-relative"&gt;1&lt;/span&gt;
							&lt;span class="pulse-ring"&gt;&lt;/span&gt;
						&lt;/span&gt;
						&lt;span class="label pulse pulse-danger mr-10"&gt;
							&lt;span class="position-relative"&gt;2&lt;/span&gt;
							&lt;span class="pulse-ring"&gt;&lt;/span&gt;
						&lt;/span&gt;
						&lt;span class="label pulse pulse-warning mr-10"&gt;
							&lt;span class="position-relative"&gt;5&lt;/span&gt;
							&lt;span class="pulse-ring"&gt;&lt;/span&gt;
						&lt;/span&gt;
						&lt;span class="label pulse pulse-primary mr-10"&gt;
							&lt;span class="position-relative"&gt;9&lt;/span&gt;
							&lt;span class="pulse-ring"&gt;&lt;/span&gt;
						&lt;/span&gt;
						&lt;span class="label pulse pulse-info"&gt;
							&lt;span class="position-relative"&gt;10&lt;/span&gt;
							&lt;span class="pulse-ring"&gt;&lt;/span&gt;
						&lt;/span&gt;
						</code>
</pre>
							</div>
						</div>
					</div>
					<!--end::Example-->
				</div>
			</div>
			<!--end::Card-->
		</div>
		<div class="col-xl-6">
			<!--begin::Card-->
			<div class="card card-custom gutter-b">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">Advance Examples</h3>
					</div>
				</div>
				<div class="card-body">
					<!--begin::Example-->
					<div class="example mb-10">
						<p>Using with buttons and icons:</p>
						<div class="example-preview">
							<a href="#" class="btn btn-icon btn-light-primary pulse pulse-primary mr-5">
								<i class="flaticon2-bell-5"></i>
								<span class="pulse-ring"></span>
							</a>
							<a href="#" class="btn btn-icon btn-light-success pulse pulse-success mr-5">
								<i class="flaticon2-protected"></i>
								<span class="pulse-ring"></span>
							</a>
							<a href="#" class="btn btn-icon btn-light-danger pulse pulse-danger mr-5">
								<i class="flaticon2-information"></i>
								<span class="pulse-ring"></span>
							</a>
							<a href="#" class="btn btn-icon btn-light-warning pulse pulse-warning mr-5">
								<i class="flaticon2-gear"></i>
								<span class="pulse-ring"></span>
							</a>
						</div>
						<div class="example-code">
							<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
							<div class="example-highlight">
								<pre>
<code class="language-html">
						&lt;a href="#" class="btn btn-icon btn-light-primary pulse pulse-primary mr-5"&gt;
							&lt;i class="flaticon2-bell-5"&gt;&lt;/i&gt;
							&lt;span class="pulse-ring"&gt;&lt;/span&gt;
						&lt;/a&gt;

						&lt;a href="#" class="btn btn-icon btn-light-success pulse pulse-success mr-5"&gt;
							&lt;i class="flaticon2-protected"&gt;&lt;/i&gt;
							&lt;span class="pulse-ring"&gt;&lt;/span&gt;
						&lt;/a&gt;

						&lt;a href="#" class="btn btn-icon btn-light-danger pulse pulse-danger mr-5"&gt;
							&lt;i class="flaticon2-information"&gt;&lt;/i&gt;
							&lt;span class="pulse-ring"&gt;&lt;/span&gt;
						&lt;/a&gt;

						&lt;a href="#" class="btn btn-icon btn-light-warning pulse pulse-warning mr-5"&gt;
							&lt;i class="flaticon2-gear"&gt;&lt;/i&gt;
							&lt;span class="pulse-ring"&gt;&lt;/span&gt;
						&lt;/a&gt;
						</code>
</pre>
							</div>
						</div>
					</div>
					<!--end::Example-->
				</div>
			</div>
			<!--end::Card-->
		</div>
	</div>
	<!--end::Row-->
</div>
<!--end::Container-->
