@{
	ViewBag.Title = "Ribbons";
    Layout = "_LayoutFeatures";
}


<!--begin::Container-->
<div class="container">	
	<!--begin: Row-->
	<div class="row mb-7">
		<div class="col-lg-4">
			<!--begin::Card-->
			<div class="card card-custom">
				<div class="card-header ribbon ribbon-left">
					<div class="ribbon-target bg-primary" style="top: 10px; left: -2px;">Ribbon</div>
					<h3 class="card-title">Default</h3>
				</div>
				<div class="card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Inceptos imperdiet magna! Sed fusce fames tempus litora venenatis ad: Ac aliquet leo hendrerit taciti viverra? Nisl suscipit potenti accumsan quis ipsum purus cursus. Suspendisse ultrices morbi in purus lectus dictum porta; Commodo penatibus nec.</div>
			</div>
			<!--end::Card-->
			<!--begin::Code example-->
			<div class="example example-compact mt-2">
				<div class="example-tools">
					<span class="example-toggle" data-toggle="tooltip" title="View code"></span>
					<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
				</div>
				<div class="example-code">
					<div class="example-highlight">
						<pre>
<code class="language-html">
				&lt;div class="card card-custom"&gt;
				 &lt;div class="card-header ribbon ribbon-left"&gt;
				  &lt;div class="ribbon-target bg-primary" style="top: 10px; left: -2px;"&gt;Ribbon&lt;/div&gt;
				  &lt;h3 class="card-title"&gt;
				   Default
				  &lt;/h3&gt;
				 &lt;/div&gt;
				 &lt;div class="card-body"&gt;
				  ...
				 &lt;/div&gt;
				&lt;/div&gt;
	</code>
</pre>
					</div>
				</div>
			</div>
			<!--end::Code example-->
		</div>
		<div class="col-lg-4">
			<!--begin::Card-->
			<div class="card card-custom">
				<div class="card-header card-header-left ribbon ribbon-left">
					<div class="ribbon-target bg-success" style="top: 10px; left: -2px;">Ribbon</div>
					<h3 class="card-title">Left Aligned</h3>
				</div>
				<div class="card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Inceptos imperdiet magna! Sed fusce fames tempus litora venenatis ad: Ac aliquet leo hendrerit taciti viverra? Nisl suscipit potenti accumsan quis ipsum purus cursus. Suspendisse ultrices morbi in purus lectus dictum porta; Commodo penatibus nec.</div>
			</div>
			<!--end::Card-->
			<!--begin::Code example-->
			<div class="example example-compact mt-2">
				<div class="example-tools">
					<span class="example-toggle" data-toggle="tooltip" title="View code"></span>
					<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
				</div>
				<div class="example-code">
					<div class="example-highlight">
						<pre>
<code class="language-html">
				&lt;div class="card card-custom"&gt;
				 &lt;div class="card-header card-header-left ribbon ribbon-left"&gt;
				  &lt;div class="ribbon-target bg-success" style="top: 10px; left: -2px;"&gt;Ribbon&lt;/div&gt;
				  &lt;h3 class="card-title"&gt;
				   Left Aligned
				  &lt;/h3&gt;
				 &lt;/div&gt;
				 &lt;div class="card-body"&gt;
				  ...
				 &lt;/div&gt;
				&lt;/div&gt;
	</code>
</pre>
					</div>
				</div>
			</div>
			<!--end::Code example-->
		</div>
		<div class="col-lg-4">
			<!--begin::Card-->
			<div class="card card-custom">
				<div class="card-header ribbon ribbon-top">
					<div class="ribbon-target bg-danger" style="top: -2px; left: 20px;">Ribbon</div>
					<h3 class="card-title">Custom Aligment</h3>
				</div>
				<div class="card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Inceptos imperdiet magna! Sed fusce fames tempus litora venenatis ad: Ac aliquet leo hendrerit taciti viverra? Nisl suscipit potenti accumsan quis ipsum purus cursus. Suspendisse ultrices morbi in purus lectus dictum porta; Commodo penatibus nec.</div>
			</div>
			<!--end::Card-->
			<!--begin::Code example-->
			<div class="example example-compact mt-2">
				<div class="example-tools">
					<span class="example-toggle" data-toggle="tooltip" title="View code"></span>
					<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
				</div>
				<div class="example-code">
					<div class="example-highlight">
						<pre>
<code class="language-html">
				&lt;div class="card card-custom"&gt;
				 &lt;div class="card-header ribbon ribbon-top"&gt;
				  &lt;div class="ribbon-target bg-danger" style="top: -2px; left: 20px;"&gt;Ribbon&lt;/div&gt;
				  &lt;h3 class="card-title"&gt;
				   Custom Aligment
				  &lt;/h3&gt;
				 &lt;/div&gt;
				 &lt;div class="card-body"&gt;
				  ...
				 &lt;/div&gt;
				&lt;/div&gt;
	</code>
</pre>
					</div>
				</div>
			</div>
			<!--end::Code example-->
		</div>
	</div>
	<!--end: Row-->
	<!--begin: Row-->
	<div class="row mb-7">
		<div class="col-lg-4">
			<!--begin::Card-->
			<div class="card card-custom">
				<div class="card-header ribbon ribbon-top ribbon-ver">
					<div class="ribbon-target bg-danger" style="top: -2px; left: 20px;">OK!</div>
					<h3 class="card-title">Vertical</h3>
				</div>
				<div class="card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Inceptos imperdiet magna! Sed fusce fames tempus litora venenatis ad: Ac aliquet leo hendrerit taciti viverra? Nisl suscipit potenti accumsan quis ipsum purus cursus. Suspendisse ultrices morbi in purus lectus dictum porta; Commodo penatibus nec.</div>
			</div>
			<!--end::Card-->
			<!--begin::Code example-->
			<div class="example example-compact mt-2">
				<div class="example-tools">
					<span class="example-toggle" data-toggle="tooltip" title="View code"></span>
					<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
				</div>
				<div class="example-code">
					<div class="example-highlight">
						<pre>
<code class="language-html">
				&lt;div class="card card-custom"&gt;
				 &lt;div class="card-header ribbon ribbon-top ribbon-ver"&gt;
				  &lt;div class="ribbon-target bg-danger" style="top: -2px; left: 20px;"&gt;
				   OK!
				  &lt;/div&gt;
				  &lt;h3 class="card-title"&gt;
				   Vertical
				  &lt;/h3&gt;
				 &lt;/div&gt;
				 &lt;div class="card-body"&gt;
				  ...
				 &lt;/div&gt;
				&lt;/div&gt;
	</code>
</pre>
					</div>
				</div>
			</div>
			<!--end::Code example-->
		</div>
		<div class="col-lg-4">
			<!--begin::Card-->
			<div class="card card-custom">
				<div class="card-header ribbon ribbon-top ribbon-ver">
					<div class="ribbon-target bg-success" style="top: -2px; left: 20px;">
						<i class="fa fa-star text-white"></i>
					</div>
					<h3 class="card-title">With Icon</h3>
				</div>
				<div class="card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Inceptos imperdiet magna! Sed fusce fames tempus litora venenatis ad: Ac aliquet leo hendrerit taciti viverra? Nisl suscipit potenti accumsan quis ipsum purus cursus. Suspendisse ultrices morbi in purus lectus dictum porta; Commodo penatibus nec.</div>
			</div>
			<!--end::Card-->
			<!--begin::Code example-->
			<div class="example example-compact mt-2">
				<div class="example-tools">
					<span class="example-toggle" data-toggle="tooltip" title="View code"></span>
					<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
				</div>
				<div class="example-code">
					<div class="example-highlight">
						<pre>
<code class="language-html">
				&lt;div class="card card-custom"&gt;
				 &lt;div class="card-header ribbon ribbon-top ribbon-ver"&gt;
				  &lt;div class="ribbon-target bg-success" style="top: -2px; left: 20px;"&gt;
				   &lt;i class="fa fa-star text-white"&gt;&lt;/i&gt;
				  &lt;/div&gt;
				  &lt;h3 class="card-title"&gt;
				   With Icon
				  &lt;/h3&gt;
				 &lt;/div&gt;
				 &lt;div class="card-body"&gt;
				  ...
				 &lt;/div&gt;
				&lt;/div&gt;
	</code>
</pre>
					</div>
				</div>
			</div>
			<!--end::Code example-->
		</div>
		<div class="col-lg-4">
			<!--begin::Card-->
			<div class="card card-custom card-fit">
				<div class="card-header ribbon ribbon-top ribbon-ver">
					<div class="ribbon-target bg-warning" style="top: -2px; left: 20px;">
						<i class="fa fa-star text-white"></i>
					</div>
					<h3 class="card-title">Vertical Ribbons</h3>
				</div>
				<div class="card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Inceptos imperdiet magna! Sed fusce fames tempus litora venenatis ad: Ac aliquet leo hendrerit taciti viverra? Nisl suscipit potenti accumsan quis ipsum purus cursus. Suspendisse ultrices morbi in purus lectus dictum porta; Commodo penatibus nec.</div>
			</div>
			<!--end::Card-->
			<!--begin::Code example-->
			<div class="example example-compact mt-2">
				<div class="example-tools">
					<span class="example-toggle" data-toggle="tooltip" title="View code"></span>
					<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
				</div>
				<div class="example-code">
					<div class="example-highlight">
						<pre>
<code class="language-html">
				&lt;div class="card card-custom card-fit gutter-b"&gt;
				 &lt;div class="card-header ribbon ribbon-top ribbon-ver"&gt;
				  &lt;div class="ribbon-target bg-warning" style="top: -2px; left: 20px;"&gt;
				   &lt;i class="fa fa-star"&gt;&lt;/i&gt;
				  &lt;/div&gt;
				  &lt;h3 class="card-title"&gt;
				   Vertical Ribbons
				  &lt;/h3&gt;
				 &lt;/div&gt;
				 &lt;div class="card-body"&gt;
				  ...
				 &lt;/div&gt;
				&lt;/div&gt;
	</code>
</pre>
					</div>
				</div>
			</div>
			<!--end::Code example-->
		</div>
	</div>
	<!--end: Row-->
	<!--begin: Row-->
	<div class="row">
		<div class="col-lg-4">
			<!--begin::Card-->
			<div class="card card-custom">
				<div class="card-header card-header-left ribbon ribbon-clip ribbon-left">
					<div class="ribbon-target" style="top: 12px;">
						<span class="ribbon-inner bg-warning"></span>Ribbon
					</div>
					<h3 class="card-title">Clip Style</h3>
				</div>
				<div class="card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Inceptos imperdiet magna! Sed fusce fames tempus litora venenatis ad: Ac aliquet leo hendrerit taciti viverra? Nisl suscipit potenti accumsan quis ipsum purus cursus. Suspendisse ultrices morbi in purus lectus dictum porta; Commodo penatibus nec.</div>
			</div>
			<!--end::Card-->
			<!--begin::Code example-->
			<div class="example example-compact">
				<div class="example-tools">
					<span class="example-toggle" data-toggle="tooltip" title="View code"></span>
					<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
				</div>
				<div class="example-code">
					<div class="example-highlight">
						<pre>
<code class="language-html">
				&lt;div class="card card-custom"&gt;
				 &lt;div class="card-header card-header-left ribbon ribbon-clip ribbon-left"&gt;
				  &lt;div class="ribbon-target" style="top: 12px;"&gt;
				   &lt;span class="ribbon-inner bg-warning"&gt;&lt;/span&gt;Ribbon
				  &lt;/div&gt;
				  &lt;h3 class="card-title"&gt;
				   Clip Style
				  &lt;/h3&gt;
				 &lt;/div&gt;
				 &lt;div class="card-body"&gt;
				  ...
				 &lt;/div&gt;
				&lt;/div&gt;
	</code>
</pre>
					</div>
				</div>
			</div>
			<!--end::Code example-->
		</div>
		<div class="col-lg-4">
			<!--begin::Card-->
			<div class="card card-custom">
				<div class="card-header ribbon ribbon-clip ribbon-left">
					<div class="ribbon-target" style="top: 15px; height: 45px;">
						<span class="ribbon-inner bg-success"></span>
						<i class="fa fa-star text-white"></i>
					</div>
					<h3 class="card-title">Clip Style</h3>
				</div>
				<div class="card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Inceptos imperdiet magna! Sed fusce fames tempus litora venenatis ad: Ac aliquet leo hendrerit taciti viverra? Nisl suscipit potenti accumsan quis ipsum purus cursus. Suspendisse ultrices morbi in purus lectus dictum porta; Commodo penatibus nec.</div>
			</div>
			<!--end::Card-->
			<!--begin::Code example-->
			<div class="example example-compact mt-2">
				<div class="example-tools">
					<span class="example-toggle" data-toggle="tooltip" title="View code"></span>
					<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
				</div>
				<div class="example-code">
					<div class="example-highlight">
						<pre>
<code class="language-html">
				&lt;div class="card card-custom"&gt;
				 &lt;div class="card-header ribbon ribbon-clip ribbon-left"&gt;
				  &lt;div class="ribbon-target" style="top: 15px; height: 45px;"&gt;
				   &lt;span class="ribbon-inner bg-success"&gt;&lt;/span&gt;&lt;i class="fa fa-star"&gt;&lt;/i&gt;
				  &lt;/div&gt;
				  &lt;h3 class="card-title"&gt;
				   Clip Style
				  &lt;/h3&gt;
				 &lt;/div&gt;
				 &lt;div class="card-body"&gt;
				  ...
				 &lt;/div&gt;
				&lt;/div&gt;
	</code>
</pre>
					</div>
				</div>
			</div>
			<!--end::Code example-->
		</div>
		<div class="col-lg-4">
			<!--begin::Card-->
			<div class="card card-custom">
				<div class="card-header ribbon ribbon-clip ribbon-left">
					<div class="ribbon-target" style="top: 12px;">
						<span class="ribbon-inner bg-warning"></span>Ribbon
					</div>
					<h3 class="card-title">Clip Style</h3>
				</div>
				<div class="card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Inceptos imperdiet magna! Sed fusce fames tempus litora venenatis ad: Ac aliquet leo hendrerit taciti viverra? Nisl suscipit potenti accumsan quis ipsum purus cursus. Suspendisse ultrices morbi in purus lectus dictum porta; Commodo penatibus nec.</div>
			</div>
			<!--end::Card-->
			<!--begin::Code example-->
			<div class="example example-compact mt-2">
				<div class="example-tools">
					<span class="example-toggle" data-toggle="tooltip" title="View code"></span>
					<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
				</div>
				<div class="example-code">
					<div class="example-highlight">
						<pre>
<code class="language-html">
				&lt;div class="card card-custom"&gt;
				 &lt;div class="card-header ribbon ribbon-clip ribbon-left"&gt;
				  &lt;div class="ribbon-target" style="top: 12px;"&gt;
				   &lt;span class="ribbon-inner bg-warning"&gt;&lt;/span&gt;Ribbon
				  &lt;/div&gt;
				  &lt;h3 class="card-title"&gt;
				   Clip Style
				  &lt;/h3&gt;
				 &lt;/div&gt;
				 &lt;div class="card-body"&gt;
				  ...
				 &lt;/div&gt;
				&lt;/div&gt;
	</code>
</pre>
					</div>
				</div>
			</div>
			<!--end::Code example-->
		</div>
	</div>
	<!--end: Row-->
</div>
<!--end::Container-->