@{
	ViewBag.Title = "Utilities";
    Layout = "_LayoutFeatures";
}

<!--begin::Container-->
<div class="container">
	
	<!--begin::Example-->
	<!--begin::Row-->
	<div class="row">
		<div class="col-lg-4">
			<!--begin::Card-->
			<div class="card card-custom card-stretch">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">
							Card Title
							<small>same height cards</small>
						</h3>
					</div>
				</div>
				<div class="card-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
			</div>
			<!--end::Card-->
		</div>
		<div class="col-lg-4">
			<!--begin::Card-->
			<div class="card card-custom card-stretch">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">
							Card Title
							<small>same height cards</small>
						</h3>
					</div>
				</div>
				<div class="card-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
			</div>
			<!--end::Card-->
		</div>
		<div class="col-lg-4">
			<!--begin::Card-->
			<div class="card card-custom card-stretch">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">
							Card Title
							<small>same height cards</small>
						</h3>
					</div>
				</div>
				<div class="card-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
			</div>
			<!--end::Card-->
		</div>
	</div>
	<!--end::Row-->
	<!--begin::Code example-->
	<div class="example example-compact mt-2 mb-10">
		<div class="example-tools justify-content-center">
			<span class="example-toggle" data-toggle="tooltip" title="View code"></span>
			<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
		</div>
		<div class="example-code">
			<div class="example-highlight">
				<pre style="height:350px">
<code class="language-html">
		&lt;div class="row"&gt;
			&lt;div class="col-lg-4"&gt;
				&lt;!--begin::Card--&gt;
				&lt;div class="card card-custom card-stretch"&gt;
					&lt;div class="card-header"&gt;
						&lt;div class="card-title"&gt;
							&lt;h3 class="card-label"&gt;Card Title &lt;small&gt;same height cards&lt;/small&gt;&lt;/h3&gt;
						&lt;/div&gt;
					&lt;/div&gt;
					&lt;div class="card-body"&gt;
						...
					&lt;/div&gt;
				&lt;/div&gt;
				&lt;!--end::Card--&gt;
			&lt;/div&gt;
			&lt;div class="col-lg-4"&gt;
				&lt;!--begin::Card--&gt;
				&lt;div class="card card-custom card-stretch"&gt;
					&lt;div class="card-header"&gt;
						&lt;div class="card-title"&gt;
							&lt;h3 class="card-label"&gt;Card Title &lt;small&gt;same height cards&lt;/small&gt;&lt;/h3&gt;
						&lt;/div&gt;
					&lt;/div&gt;
					&lt;div class="card-body"&gt;
						...
					&lt;/div&gt;
				&lt;/div&gt;
				&lt;!--end::Card--&gt;
			&lt;/div&gt;
			&lt;div class="col-lg-4"&gt;
				&lt;!--begin::Card--&gt;
				&lt;div class="card card-custom card-stretch"&gt;
					&lt;div class="card-header"&gt;
						&lt;div class="card-title"&gt;
							&lt;h3 class="card-label"&gt;Card Title &lt;small&gt;same height cards&lt;/small&gt;&lt;/h3&gt;
						&lt;/div&gt;
					&lt;/div&gt;
					&lt;div class="card-body"&gt;
						...
					&lt;/div&gt;
				&lt;/div&gt;
				&lt;!--end::Card--&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		</code>
</pre>
			</div>
		</div>
	</div>
	<!--end::Code example-->
	<!--end::Example-->
	<!--begin::Example-->
	<!--begin::Row-->
	<div class="row">
		<div class="col-lg-4">
			<!--begin::Card-->
			<div class="card card-custom card-stretch">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">
							Card Title
							<small>full height card</small>
						</h3>
					</div>
				</div>
				<div class="card-body">
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
				</div>
			</div>
			<!--end::Card-->
		</div>
		<div class="col-lg-4">
			<!--begin::Card-->
			<div class="card card-custom card-stretch card-stretch-half gutter-b">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">
							Card Title
							<small>half height card</small>
						</h3>
					</div>
				</div>
				<div class="card-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum.</div>
			</div>
			<!--end::Card-->
			<!--begin::Card-->
			<div class="card card-custom card-stretch card-stretch-half">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">
							Card Title
							<small>half height card</small>
						</h3>
					</div>
				</div>
				<div class="card-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum.</div>
			</div>
			<!--end::Card-->
		</div>
		<div class="col-lg-4">
			<!--begin::Card-->
			<div class="card card-custom card-stretch">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">
							Card Title
							<small>full height card</small>
						</h3>
					</div>
				</div>
				<div class="card-body">
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
				</div>
			</div>
			<!--end::Card-->
		</div>
	</div>
	<!--end::Row-->
	<!--begin::Code example-->
	<div class="example example-compact mt-2 mb-10">
		<div class="example-tools justify-content-center">
			<span class="example-toggle" data-toggle="tooltip" title="View code"></span>
			<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
		</div>
		<div class="example-code">
			<div class="example-highlight">
				<pre style="height:350px">
<code class="language-html">
		&lt;div class="row"&gt;
			&lt;div class="col-lg-4"&gt;
				&lt;!--begin::Card--&gt;
				&lt;div class="card card-custom card-stretch"&gt;
					&lt;div class="card-header"&gt;
						&lt;div class="card-title"&gt;
							&lt;h3 class="card-label"&gt;Card Title &lt;small&gt;full height card&lt;/small&gt;&lt;/h3&gt;
						&lt;/div&gt;
					&lt;/div&gt;
					&lt;div class="card-body"&gt;
						...
					&lt;/div&gt;
				&lt;/div&gt;
				&lt;!--end::Card--&gt;
			&lt;/div&gt;
			&lt;div class="col-lg-4"&gt;
				&lt;!--begin::Card--&gt;
				&lt;div class="card card-custom card-stretch card-stretch-half gutter-b"&gt;
					&lt;div class="card-header"&gt;
						&lt;div class="card-title"&gt;
							&lt;h3 class="card-label"&gt;Card Title &lt;small&gt;half height card&lt;/small&gt;&lt;/h3&gt;
						&lt;/div&gt;
					&lt;/div&gt;
					&lt;div class="card-body"&gt;
						...
					&lt;/div&gt;
				&lt;/div&gt;
				&lt;!--end::Card--&gt;

				&lt;!--begin::Card--&gt;
				&lt;div class="card card-custom card-stretch card-stretch-half"&gt;
					&lt;div class="card-header"&gt;
						&lt;div class="card-title"&gt;
							&lt;h3 class="card-label"&gt;Card Title &lt;small&gt;half height card&lt;/small&gt;&lt;/h3&gt;
						&lt;/div&gt;
					&lt;/div&gt;
					&lt;div class="card-body"&gt;
						...
					&lt;/div&gt;
				&lt;/div&gt;
				&lt;!--end::Card--&gt;
			&lt;/div&gt;
			&lt;div class="col-lg-4"&gt;
				&lt;!--begin::Card--&gt;
				&lt;div class="card card-custom card-stretch"&gt;
					&lt;div class="card-header"&gt;
						&lt;div class="card-title"&gt;
							&lt;h3 class="card-label"&gt;Card Title &lt;small&gt;full height card&lt;/small&gt;&lt;/h3&gt;
						&lt;/div&gt;
					&lt;/div&gt;
					&lt;div class="card-body"&gt;
						...
					&lt;/div&gt;
				&lt;/div&gt;
				&lt;!--end::Card--&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		</code>
</pre>
			</div>
		</div>
	</div>
	<!--end::Code example-->
	<!--end::Example-->
	<!--begin::Example-->
	<!--begin::Row-->
	<div class="row">
		<div class="col-lg-4">
			<!--begin::Card-->
			<div class="card card-custom card-stretch">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">
							Card Title
							<small>full height card</small>
						</h3>
					</div>
				</div>
				<div class="card-body">
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
				</div>
			</div>
			<!--end::Card-->
		</div>
		<div class="col-lg-4">
			<!--begin::Card-->
			<div class="card card-custom card-stretch card-stretch-third gutter-b">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">
							Card Title
							<small>third height card</small>
						</h3>
					</div>
				</div>
				<div class="card-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum.</div>
			</div>
			<!--end::Card-->
			<!--begin::Card-->
			<div class="card card-custom card-stretch card-stretch-third gutter-b">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">
							Card Title
							<small>third height card</small>
						</h3>
					</div>
				</div>
				<div class="card-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum.</div>
			</div>
			<!--end::Card-->
			<!--begin::Card-->
			<div class="card card-custom card-stretch card-stretch-third">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">
							Card Title
							<small>third height card</small>
						</h3>
					</div>
				</div>
				<div class="card-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum.</div>
			</div>
			<!--end::Card-->
		</div>
		<div class="col-lg-4">
			<!--begin::Card-->
			<div class="card card-custom card-stretch card-stretch-half gutter-b">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">
							Card Title
							<small>half height card</small>
						</h3>
					</div>
				</div>
				<div class="card-body">
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
				</div>
			</div>
			<!--end::Card-->
			<!--begin::Card-->
			<div class="card card-custom card-stretch card-stretch-half">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">
							Card Title
							<small>half height card</small>
						</h3>
					</div>
				</div>
				<div class="card-body">
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
				</div>
			</div>
			<!--end::Card-->
		</div>
	</div>
	<!--end::Row-->
	<!--begin::Code example-->
	<div class="example example-compact mt-2 mb-10">
		<div class="example-tools justify-content-center">
			<span class="example-toggle" data-toggle="tooltip" title="View code"></span>
			<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
		</div>
		<div class="example-code">
			<div class="example-highlight">
				<pre style="height:350px">
<code class="language-html">
		&lt;div class="row"&gt;
			&lt;div class="col-lg-4"&gt;
				&lt;!--begin::Card--&gt;
				&lt;div class="card card-custom card-stretch"&gt;
					&lt;div class="card-header"&gt;
						&lt;div class="card-title"&gt;
							&lt;h3 class="card-label"&gt;Card Title &lt;small&gt;full height card&lt;/small&gt;&lt;/h3&gt;
						&lt;/div&gt;
					&lt;/div&gt;
					&lt;div class="card-body"&gt;
						...
					&lt;/div&gt;
				&lt;/div&gt;
				&lt;!--end::Card--&gt;
			&lt;/div&gt;
			&lt;div class="col-lg-4"&gt;
				&lt;!--begin::Card--&gt;
				&lt;div class="card card-custom card-stretch card-stretch-third gutter-b"&gt;
					&lt;div class="card-header"&gt;
						&lt;div class="card-title"&gt;
							&lt;h3 class="card-label"&gt;Card Title &lt;small&gt;third height card&lt;/small&gt;&lt;/h3&gt;
						&lt;/div&gt;
					&lt;/div&gt;
					&lt;div class="card-body"&gt;
						...
					&lt;/div&gt;
				&lt;/div&gt;
				&lt;!--end::Card--&gt;

				&lt;!--begin::Card--&gt;
				&lt;div class="card card-custom card-stretch card-stretch-third gutter-b"&gt;
					&lt;div class="card-header"&gt;
						&lt;div class="card-title"&gt;
							&lt;h3 class="card-label"&gt;Card Title &lt;small&gt;third height card&lt;/small&gt;&lt;/h3&gt;
						&lt;/div&gt;
					&lt;/div&gt;
					&lt;div class="card-body"&gt;
						...
					&lt;/div&gt;
				&lt;/div&gt;
				&lt;!--end::Card--&gt;

				&lt;!--begin::Card--&gt;
				&lt;div class="card card-custom card-stretch card-stretch-third"&gt;
					&lt;div class="card-header"&gt;
						&lt;div class="card-title"&gt;
							&lt;h3 class="card-label"&gt;Card Title &lt;small&gt;third height card&lt;/small&gt;&lt;/h3&gt;
						&lt;/div&gt;
					&lt;/div&gt;
					&lt;div class="card-body"&gt;
						...
					&lt;/div&gt;
				&lt;/div&gt;
				&lt;!--end::Card--&gt;
			&lt;/div&gt;
			&lt;div class="col-lg-4"&gt;
				&lt;!--begin::Card--&gt;
				&lt;div class="card card-custom card-stretch card-stretch-half gutter-b"&gt;
					&lt;div class="card-header"&gt;
						&lt;div class="card-title"&gt;
							&lt;h3 class="card-label"&gt;Card Title &lt;small&gt;half height card&lt;/small&gt;&lt;/h3&gt;
						&lt;/div&gt;
					&lt;/div&gt;
					&lt;div class="card-body"&gt;
						...
					&lt;/div&gt;
				&lt;/div&gt;
				&lt;!--end::Card--&gt;

				&lt;!--begin::Card--&gt;
				&lt;div class="card card-custom card-stretch card-stretch-half"&gt;
					&lt;div class="card-header"&gt;
						&lt;div class="card-title"&gt;
							&lt;h3 class="card-label"&gt;Card Title &lt;small&gt;half height card&lt;/small&gt;&lt;/h3&gt;
						&lt;/div&gt;
					&lt;/div&gt;
					&lt;div class="card-body"&gt;
						...
					&lt;/div&gt;
				&lt;/div&gt;
				&lt;!--end::Card--&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		</code>
</pre>
			</div>
		</div>
	</div>
	<!--end::Code example-->
	<!--end::Example-->
	<!--begin::Example-->
	<!--begin::Row-->
	<div class="row">
		<div class="col-lg-6">
			<!--begin::Card-->
			<div class="card card-custom card-stretch card-stretch-fourth gutter-b">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">
							Card Title
							<small>fourth height card</small>
						</h3>
					</div>
				</div>
				<div class="card-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum.</div>
			</div>
			<!--end::Card-->
			<!--begin::Card-->
			<div class="card card-custom card-stretch card-stretch-fourth gutter-b">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">
							Card Title
							<small>fourth height card</small>
						</h3>
					</div>
				</div>
				<div class="card-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum.</div>
			</div>
			<!--end::Card-->
			<!--begin::Card-->
			<div class="card card-custom card-stretch card-stretch-fourth gutter-b">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">
							Card Title
							<small>fourth height card</small>
						</h3>
					</div>
				</div>
				<div class="card-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum.</div>
			</div>
			<!--end::Card-->
			<!--begin::Card-->
			<div class="card card-custom card-stretch card-stretch-fourth">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">
							Card Title
							<small>fourth height card</small>
						</h3>
					</div>
				</div>
				<div class="card-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum.</div>
			</div>
			<!--end::Card-->
		</div>
		<div class="col-lg-6">
			<!--begin::Card-->
			<div class="card card-custom card-stretch card-stretch-half gutter-b">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">
							Card Title
							<small>full height card</small>
						</h3>
					</div>
				</div>
				<div class="card-body">
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
				</div>
			</div>
			<!--end::Card-->
			<!--begin::Card-->
			<div class="card card-custom card-stretch card-stretch-half">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">
							Card Title
							<small>full height card</small>
						</h3>
					</div>
				</div>
				<div class="card-body">
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
				</div>
			</div>
			<!--end::Card-->
		</div>
	</div>
	<!--end::Row-->
	<!--begin::Code example-->
	<div class="example example-compact mt-2 mb-10">
		<div class="example-tools justify-content-center">
			<span class="example-toggle" data-toggle="tooltip" title="View code"></span>
			<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
		</div>
		<div class="example-code">
			<div class="example-highlight">
				<pre style="height:350px">
<code class="language-html">
		&lt;div class="row"&gt;
			&lt;div class="col-lg-6"&gt;
				&lt;!--begin::Card--&gt;
				&lt;div class="card card-custom card-stretch card-stretch-fourth gutter-b"&gt;
					&lt;div class="card-header"&gt;
						&lt;div class="card-title"&gt;
							&lt;h3 class="card-label"&gt;Card Title &lt;small&gt;fourth height card&lt;/small&gt;&lt;/h3&gt;
						&lt;/div&gt;
					&lt;/div&gt;
					&lt;div class="card-body"&gt;
						...
					&lt;/div&gt;
				&lt;/div&gt;
				&lt;!--end::Card--&gt;

				&lt;!--begin::Card--&gt;
				&lt;div class="card card-custom card-stretch card-stretch-fourth gutter-b"&gt;
					&lt;div class="card-header"&gt;
						&lt;div class="card-title"&gt;
							&lt;h3 class="card-label"&gt;Card Title &lt;small&gt;fourth height card&lt;/small&gt;&lt;/h3&gt;
						&lt;/div&gt;
					&lt;/div&gt;
					&lt;div class="card-body"&gt;
						...
					&lt;/div&gt;
				&lt;/div&gt;
				&lt;!--end::Card--&gt;

				&lt;!--begin::Card--&gt;
				&lt;div class="card card-custom card-stretch card-stretch-fourth gutter-b"&gt;
					&lt;div class="card-header"&gt;
						&lt;div class="card-title"&gt;
							&lt;h3 class="card-label"&gt;Card Title &lt;small&gt;fourth height card&lt;/small&gt;&lt;/h3&gt;
						&lt;/div&gt;
					&lt;/div&gt;
					&lt;div class="card-body"&gt;
						...
					&lt;/div&gt;
				&lt;/div&gt;
				&lt;!--end::Card--&gt;

				&lt;!--begin::Card--&gt;
				&lt;div class="card card-custom card-stretch card-stretch-fourth"&gt;
					&lt;div class="card-header"&gt;
						&lt;div class="card-title"&gt;
							&lt;h3 class="card-label"&gt;Card Title &lt;small&gt;fourth height card&lt;/small&gt;&lt;/h3&gt;
						&lt;/div&gt;
					&lt;/div&gt;
					&lt;div class="card-body"&gt;
						...
					&lt;/div&gt;
				&lt;/div&gt;
				&lt;!--end::Card--&gt;
			&lt;/div&gt;
			&lt;div class="col-lg-6"&gt;
				&lt;!--begin::Card--&gt;
				&lt;div class="card card-custom card-stretch card-stretch-half gutter-b"&gt;
					&lt;div class="card-header"&gt;
						&lt;div class="card-title"&gt;
							&lt;h3 class="card-label"&gt;Card Title &lt;small&gt;full height card&lt;/small&gt;&lt;/h3&gt;
						&lt;/div&gt;
					&lt;/div&gt;
					&lt;div class="card-body"&gt;
						...
					&lt;/div&gt;
				&lt;/div&gt;
				&lt;!--end::Card--&gt;

				&lt;!--begin::Card--&gt;
				&lt;div class="card card-custom card-stretch card-stretch-half"&gt;
					&lt;div class="card-header"&gt;
						&lt;div class="card-title"&gt;
							&lt;h3 class="card-label"&gt;Card Title &lt;small&gt;full height card&lt;/small&gt;&lt;/h3&gt;
						&lt;/div&gt;
					&lt;/div&gt;
					&lt;div class="card-body"&gt;
						...
					&lt;/div&gt;
				&lt;/div&gt;
				&lt;!--end::Card--&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		</code>
</pre>
			</div>
		</div>
	</div>
	<!--end::Code example-->
	<!--end::Example-->
</div>
<!--end::Container-->