@model ResetPasswordDto
@{
    ViewData["Title"] = "Reset Password";
    Layout = "_LoginLayout";
}

<!--begin:Content-->
<div class="d-flex w-100 flex-center p-15 position-relative overflow-hidden">
    <div class="login-wrapper">
        <!--begin:Sign In Form-->
        <div class="login-signin">
            <input type="hidden" asp-for="IsExpired" />
            <div class="login-form login-signin py-11">
                <!--begin::Form-->
                <form asp-controller="Account" asp-action="ResetPassword" method="post" class="form">
                    <!--begin::Title-->
                    <div class="text-center pb-8">
                        <h2 class="font-weight-bolder text-dark font-size-h2 font-size-h1-lg">تغيير كلمة المرور</h2>
                        <p class="text-muted font-weight-bold">
                            فضلا ادخل كلمة المرور الجديدة
                        </p>
                    </div>
                    <!--end::Title-->
                    <!--begin::Form group-->
                    <div class="text-center pb-8">
                        <div class="text-danger" style="font-size: 16px">
                            @Html.ValidationMessage("error")
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="d-flex justify-content-between mt-n5">
                            <label asp-for="Username" class="font-size-h6 font-weight-bolder text-dark"></label>
                        </div>

                        <input asp-for="Username" class="form-control form-control-solid h-auto py-7 px-6 rounded-lg" type="text" autocomplete="off" />
                        <span asp-validation-for="Username" class="alert-danger"></span>
                    </div>
                    <!--end::Form group-->
                    <!--begin::Form group-->
                    <div class="form-group">
                        <div class="d-flex justify-content-between mt-n5">
                            <label asp-for="CurrentPassword" class="font-size-h6 font-weight-bolder text-dark pt-5"></label>
                        </div>
                        <input asp-for="CurrentPassword" class="form-control form-control-solid h-auto py-7 px-6 rounded-lg" type="password" autocomplete="off" />
                        <span asp-validation-for="CurrentPassword" class="alert-danger"></span>
                    </div>
                    <!--end::Form group-->
                    <!--begin::Form group-->
                    <div class="form-group">
                        <div class="d-flex justify-content-between mt-n5">
                            <label asp-for="NewPassword" class="font-size-h6 font-weight-bolder text-dark pt-5"></label>
                        </div>
                        <input asp-for="NewPassword" class="form-control form-control-solid h-auto py-7 px-6 rounded-lg" type="password" autocomplete="off" />
                        <span asp-validation-for="NewPassword" class="alert-danger"></span>
                    </div>
                    <!--end::Form group-->
                    <!--begin::Form group-->
                    <div class="form-group">
                        <div class="d-flex justify-content-between mt-n5">
                            <label asp-for="ConfirmPassword" class="font-size-h6 font-weight-bolder text-dark pt-5"></label>
                        </div>
                        <input asp-for="ConfirmPassword" class="form-control form-control-solid h-auto py-7 px-6 rounded-lg" type="password" autocomplete="off" />
                        <span asp-validation-for="ConfirmPassword" class="alert-danger"></span>
                    </div>
                    <!--end::Form group-->
                    <!--begin::Action-->
                    <div class="text-center pt-2">
                        <button type="submit" class="btn btn-dark font-weight-bolder font-size-h6 px-8 py-4 my-3">تغيير كلمة المرور</button>
                    </div>
                    <!--end::Action-->
                </form>
                <!--end::Form-->
            </div>
        </div>
        <!--end:Sign In Form-->
    </div>
</div>
<!--end:Content-->
<!--begin:Divider-->
<div class="login-divider">
    <div></div>
</div>
<!--end:Divider-->
<!--begin:Aside-->
<div class="d-flex w-100 flex-center p-15">
    <div class="login-wrapper">
        <!--begin:Aside Content-->
        <div class="text-dark-75">
            <a href="#">
                <img src="assets/media/logos/logo-letter-13.png" class="max-h-75px" alt="" />
            </a>
            <h3 class="mb-8 mt-22 font-weight-bold">اسم النظام يظهر هنا</h3>
            <p class="mb-15 text-muted font-weight-bold">قالب شامل لكل الانظمة المستخدمة في تطوير النظم</p>

        </div>
        <!--end:Aside Content-->
    </div>
</div>
<!--end:Aside-->
